
<!DOCTYPE html>
<html ng-app="scotchApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head 	content must come *after* these tags -->
		<title>AngularJs Content</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body ng-controller="mainController" style="background-color: #222;">	
		
			<div id="sidebar" class="col-sm-2 col-lg-2" style="padding: 0;">
				<div class="sidebar-nav" style="box-shadow: 5px 0px 10px #be8888">
					<div class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" 	data-target=	".sidebar-navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<span class="visible-xs navbar-brand" style="color: white;"> AngulaJS Tutorial </span>
						</div>
						<div class="navbar-collapse collapse sidebar-navbar-collapse">
						<ul class="nav navbar-nav" ng-controller="menuList">
							<li class="hidden-xs hidden-sm">
								<div style="margin: 15px;">		
	  								<a href="/projectweb/">
	  								<img class="img-responsive" src="https://docs.angularjs.org/img/angularjs-for-header-only.svg"></a>
	  							</div>
							</li>
							<br>
								<li ng-if="checkMenu != 1"><a href="#"  ng-click=changeMenu(1)>โครงสร้าง</a></li>
								<li class="active" ng-if="checkMenu == 1" ><a href="#" ng-click=changeMenu(1)>โครงสร้าง</a></li>

								<li ng-if="checkMenu != 2"><a href="#index"  ng-click=changeMenu(2)>หน้าหลัก Layout</a></li>
								<li class="active" ng-if="checkMenu == 2" ><a href="#index" ng-click=changeMenu(2)>หน้าหลัก Layout</a></li>

								<li ng-if="checkMenu != 3"><a href="#control"  ng-click=changeMenu(3)>คำสั่งควบคุม</a></li>
								<li class="active" ng-if="checkMenu == 3" ><a href="#control" ng-click=changeMenu(3)>คำสั่งควบคุม</a></li>

								<li ng-if="checkMenu != 4"><a href="#content"  ng-click=changeMenu(4)>หน้าย่อย Content</a></li>
								<li class="active" ng-if="checkMenu == 4" ><a href="#content" ng-click=changeMenu(4)>หน้าย่อย Content</a></li>
						</ul>
						</div>		
					</div>
				</div>
			</div>
			<div id="view" ng-view ></div>
		
		<style type="text/css">

			#view { color: white; font-family: "JasmineUPC"; font-size: 2em; }
			strong { color: #f4ddab; }
			#code { border-radius: 1em; padding: 1em; font-size: 0.6em; background-color: beige; }
			code { background-color: transparent; }

			.panel-body { overflow: auto; }
			/* make sidebar nav vertical */ 
			@media (min-width: 772px) {
				#sidebar { position: fixed; }
				#view { margin-left: 20%; }
				.navbar { border-radius: 0; }
				.navbar-default { height: 100vh; margin:0; border: none; }
				.sidebar-nav .navbar .navbar-collapse {
					padding: 0;
					max-height: none;
				}
				.sidebar-nav .navbar ul {
					float: none;
				}	
				.sidebar-nav .navbar ul:not {
					display: block;
				}
				.sidebar-nav .navbar li {
					float: none;
					display: block;
				}
				.sidebar-nav .navbar li a {
					padding-top: 12px;
					padding-bottom: 12px;
				}

				li>a { font-family: "BrowalliaUPC"; font-size: 1.8em; }
			}
			.navbar-default { background-color: black; }
			.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover 
				{ color: #fff; background-color: #6b1a1a; }

			.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover 
				{ color: #d8d8d8; background-color: #555555; }

		</style>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"	></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  		<script src="script-single-page.js"></script>
		
		<style>
			::-webkit-scrollbar {
			width: 0.4em;
			height: 0.4em;
		}		
			::-webkit-scrollbar-thumb {
			background: rgba(0,0,0,0.2); 
		z-indexwebkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.1);
		}
		</style>
	</body>
</html>