/* -------------------------------------------------------------------------------------------------------
* Template Helper Stylesheet
*
* Helper classes. You are free to use these extra prepared helper classes to customize your web site.
* Template main color: #f7465b;
------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------- *
 *  Various classes
/* ------------------------------------------------------------- */

/* clear */
.clear { clear: both !important; display: block !important; }

/* display */
.display-block { display: block !important; }
.display-inline-block { display: inline-block !important; }

/* position */
.position-relative { position: relative !important; }
.position-absolute { position: absolute !important; }

/* text aligns */
.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }

/* text transform */
.text-uppercase { text-transform: uppercase !important; }
.text-lowercase { text-transform: lowercase !important; }
.text-normal { text-transform: none !important; }

/* overflow */
.overflow-hidden { overflow: hidden !important; }
.overflow-y-hidden { overflow-y: hidden !important; }
.overflow-x-hidden { overflow-x: hidden !important; }

.overflow-auto { overflow: auto !important; }
.overflow-y-auto { overflow-y: auto !important; }
.overflow-x-auto { overflow-x: auto !important; }

.overflow-scroll { overflow: scroll !important; }
.overflow-y-scroll { overflow-y: scroll !important; }
.overflow-x-scroll { overflow-x: scroll !important; }

/* full cover (parent element must contain "position: relative;") */
.full-cover {
	position: absolute !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
}


/* ------------------------------------------------------------- *
 *  Hiding classes
/* ------------------------------------------------------------- */

.hide { display: none !important; }

/* hiding via media query breakpoints */
@media (max-width: 1200px) {
	.hide-from-lg { display: none !important; }
}
@media (max-width: 992px) {
	.hide-from-md { display: none !important; }
}
@media (max-width: 768px) {
	.hide-from-sm { display: none !important; }
}
@media (max-width: 480px) {
	.hide-from-xs { display: none !important; }
}

@media (min-width: 1200px) {
	.hide-to-lg { display: none !important; }
}
@media (min-width: 992px) {
	.hide-to-md { display: none !important; }
}
@media (min-width: 768px) {
	.hide-to-sm { display: none !important; }
}
@media (min-width: 480px) {
	.hide-to-xs { display: none !important; }
}


/* ------------------------------------------------------------- *
 *  Background image classes
/* ------------------------------------------------------------- */

.no-bg-image { background: none !important; }

.bg-image {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}
.bg-image-fixed {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}
.bg-pattern {
	background-repeat: repeat !important;
	-webkit-background-size: inherit !important;
	background-size: inherit !important;
}
.bg-image-parallax {  /* also handled by javascript. look into "theme.js" file */
	background-repeat: no-repeat;
	background-position: 50% 0%;
	-webkit-background-size: cover;
	background-size: cover;
}


/* ------------------------------------------------------------- *
 *  Fonts
/* ------------------------------------------------------------- */

/* fonts (alternative) */
.font-alter-1 {
	font-family: 'Kanit', cursive;
}

/* font sizes (%) */
.font-xs { font-size: 75% !important; }
.font-sm { font-size: 85% !important; }
.font-lg { font-size: 110% !important; }
.font-xlg { font-size: 120% !important; }

/* font sizes (px) */
.font-size-8 { font-size: 8px; }
.font-size-9 { font-size: 9px; }
.font-size-10 { font-size: 10px; }
.font-size-11 { font-size: 11px; }
.font-size-12 { font-size: 12px; }
.font-size-13 { font-size: 13px; }
.font-size-14 { font-size: 14px; }
.font-size-15 { font-size: 15px; }
.font-size-16 { font-size: 16px; }
.font-size-17 { font-size: 17px; }
.font-size-18 { font-size: 18px; }
.font-size-19 { font-size: 19px; }
.font-size-20 { font-size: 20px; }
.font-size-21 { font-size: 21px; }
.font-size-22 { font-size: 22px; }
.font-size-23 { font-size: 23px; }
.font-size-24 { font-size: 24px; }
.font-size-25 { font-size: 25px; }
.font-size-26 { font-size: 26px; }
.font-size-27 { font-size: 27px; }
.font-size-28 { font-size: 28px; }
.font-size-29 { font-size: 29px; }
.font-size-30 { font-size: 30px; }
.font-size-31 { font-size: 31px; }
.font-size-32 { font-size: 32px; }
.font-size-33 { font-size: 33px; }
.font-size-34 { font-size: 34px; }
.font-size-35 { font-size: 35px; }
.font-size-36 { font-size: 36px; }
.font-size-37 { font-size: 37px; }
.font-size-38 { font-size: 38px; }
.font-size-39 { font-size: 39px; }
.font-size-40 { font-size: 40px; }
.font-size-45 { font-size: 45px; }
.font-size-50 { font-size: 50px; }
.font-size-55 { font-size: 55px; }
.font-size-60 { font-size: 60px; }
.font-size-65 { font-size: 65px; }
.font-size-70 { font-size: 70px; }
.font-size-75 { font-size: 75px; }
.font-size-80 { font-size: 80px; }
.font-size-85 { font-size: 85px; }
.font-size-90 { font-size: 90px; }
.font-size-95 { font-size: 95px; }
.font-size-100 { font-size: 100px; }
.font-size-105 { font-size: 105px; }
.font-size-110 { font-size: 110px; }
.font-size-115 { font-size: 115px; }
.font-size-120 { font-size: 120px; }
.font-size-125 { font-size: 125px; }
.font-size-130 { font-size: 130px; }
.font-size-135 { font-size: 135px; }
.font-size-140 { font-size: 140px; }
.font-size-145 { font-size: 145px; }
.font-size-150 { font-size: 150px; }
.font-size-155 { font-size: 155px; }
.font-size-160 { font-size: 160px; }


/* ------------------------------------------------------------- *
 *  Hover classes
/* ------------------------------------------------------------- */

/* hover opacity */
.hover-opacity {
	-webkit-transition: all .2s ease-in-out !important;
	-moz-transition: all .2s ease-in-out !important;
	-ms-transition: all .2s ease-in-out !important;
	-o-transition: all .2s ease-in-out !important;
	transition: all .2s ease-in-out !important;
}
.hover-opacity:hover {
	opacity: 0.8 !important;
}

/* hover zoom */
.hover-zoom {
	display: block;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.hover-zoom:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}


/* -------------------------------------------------------------------------- *
 *  Center align classes (parent element must contain "position: relative;")
/* -------------------------------------------------------------------------- */

.align-center {
	position: absolute !important;
	top: 50% !important;
	bottom: auto !important;
	left: 50% !important;
	right: auto !important;
	-moz-transform: translate(-50%, -50%) !important;
	-ms-transform: translate(-50%, -50%) !important;
	-webkit-transform: translate(-50%, -50%) !important;
	transform: translate(-50%, -50%) !important;
}
.vertical-align-center {
	position: absolute !important;
	top: 50% !important;
	bottom: auto !important;
	-moz-transform: translateY(-50%) !important;
	-ms-transform: translateY(-50%) !important;
	-webkit-transform: translateY(-50%) !important;
	transform: translateY(-50%) !important;
}
.horisontal-align-center {
	position: absolute !important;
	left: 50% !important;
	right: auto !important;
	-moz-transform: translateX(-50%) !important;
	-ms-transform: translateX(-50%) !important;
	-webkit-transform: translateX(-50%) !important;
	transform: translateX(-50%) !important;
}


/* ------------------------------------------------------------- *
 *  Rounded classes
/* ------------------------------------------------------------- */

.no-rounded, .no-radius { border-radius: 0 !important; }
.rounded { border-radius: 3px !important; }
.rounded-2x { border-radius: 6px !important; }
.rounded-3x { border-radius: 12px !important; }
.rounded-4x { border-radius: 20px !important; }
.rounded-5x { border-radius: 40px !important; }
.rounded-full { border-radius: 50% !important; }


/* ------------------------------------------------------------- *
 *  Width classes
/* ------------------------------------------------------------- */

/* Full width */
.full-width { width: 100% !important; }

/* Minimum width classes */
.min-width { min-width: 100% !important; }
.min-width-100 { width: 100% !important; min-width: 100px !important; }
.min-width-200 { width: 100% !important; min-width: 200px !important; }
.min-width-300 { width: 100% !important; min-width: 300px !important; }
.min-width-400 { width: 100% !important; min-width: 400px !important; }
.min-width-500 { width: 100% !important; min-width: 500px !important; }
.min-width-600 { width: 100% !important; min-width: 600px !important; }
.min-width-700 { width: 100% !important; min-width: 700px !important; }
.min-width-800 { width: 100% !important; min-width: 800px !important; }
.min-width-900 { width: 100% !important; min-width: 900px !important; }
.min-width-1000 { width: 100% !important; min-width: 1000px !important; }
.min-width-1100 { width: 100% !important; min-width: 1100px !important; }
.min-width-1200 { width: 100% !important; min-width: 1200px !important; }
.min-width-1300 { width: 100% !important; min-width: 1300px !important; }
.min-width-1400 { width: 100% !important; min-width: 1400px !important; }
.min-width-1500 { width: 100% !important; min-width: 1500px !important; }
.min-width-1600 { width: 100% !important; min-width: 1600px !important; }

/* Maximum width classes */
.max-width { max-width: 100% !important; }
.max-width-100 { width: 100% !important; max-width: 100px !important; }
.max-width-200 { width: 100% !important; max-width: 200px !important; }
.max-width-300 { width: 100% !important; max-width: 300px !important; }
.max-width-400 { width: 100% !important; max-width: 400px !important; }
.max-width-500 { width: 100% !important; max-width: 500px !important; }
.max-width-600 { width: 100% !important; max-width: 600px !important; }
.max-width-700 { width: 100% !important; max-width: 700px !important; }
.max-width-800 { width: 100% !important; max-width: 800px !important; }
.max-width-900 { width: 100% !important; max-width: 900px !important; }
.max-width-1000 { width: 100% !important; max-width: 1000px !important; }
.max-width-1100 { width: 100% !important; max-width: 1100px !important; }
.max-width-1170 { width: 100% !important; max-width: 1170px !important; }
.max-width-1200 { width: 100% !important; max-width: 1200px !important; }
.max-width-1300 { width: 100% !important; max-width: 1300px !important; }
.max-width-1400 { width: 100% !important; max-width: 1400px !important; }
.max-width-1500 { width: 100% !important; max-width: 1500px !important; }
.max-width-1600 { width: 100% !important; max-width: 1600px !important; }


/* ------------------------------------------------------------- *
 *  Height classes
/* ------------------------------------------------------------- */

.full-height { } /* handled by javascript. look into "theme.js" file */
.full-height-h { height: 100% !important; }
.full-height-vh { min-height: 100vh !important; }

/* minimum height classes */
.min-height-100 { min-height: 100px !important; }
.min-height-150 { min-height: 150px !important; }
.min-height-200 { min-height: 200px !important; }
.min-height-250 { min-height: 250px !important; }
.min-height-300 { min-height: 300px !important; }
.min-height-350 { min-height: 350px !important; }
.min-height-400 { min-height: 400px !important; }
.min-height-450 { min-height: 450px !important; }
.min-height-500 { min-height: 500px !important; }
.min-height-550 { min-height: 550px !important; }
.min-height-600 { min-height: 600px !important; }
.min-height-650 { min-height: 650px !important; }
.min-height-700 { min-height: 700px !important; }
.min-height-750 { min-height: 750px !important; }
.min-height-800 { min-height: 800px !important; }
.min-height-850 { min-height: 850px !important; }
.min-height-900 { min-height: 900px !important; }
.min-height-1000 { min-height: 1000px !important; }

/* maximum height classes */
.max-height-100 { max-height: 100px !important; }
.max-height-150 { max-height: 150px !important; }
.max-height-200 { max-height: 200px !important; }
.max-height-250 { max-height: 250px !important; }
.max-height-300 { max-height: 300px !important; }
.max-height-350 { max-height: 350px !important; }
.max-height-400 { max-height: 400px !important; }
.max-height-450 { max-height: 450px !important; }
.max-height-500 { max-height: 500px !important; }
.max-height-550 { max-height: 550px !important; }
.max-height-600 { max-height: 600px !important; }
.max-height-650 { max-height: 650px !important; }
.max-height-700 { max-height: 700px !important; }
.max-height-750 { max-height: 750px !important; }
.max-height-800 { max-height: 800px !important; }
.max-height-850 { max-height: 850px !important; }
.max-height-900 { max-height: 900px !important; }
.max-height-1000 { max-height: 1000px !important; }

/* padding height classes */
.padding-height-10 { padding-bottom: 10% !important; }
.padding-height-20 { padding-bottom: 20% !important; }
.padding-height-30 { padding-bottom: 30% !important; }
.padding-height-40 { padding-bottom: 40% !important; }
.padding-height-50 { padding-bottom: 50% !important; }
.padding-height-60 { padding-bottom: 60% !important; }
.padding-height-70 { padding-bottom: 70% !important; }
.padding-height-80 { padding-bottom: 80% !important; }
.padding-height-90 { padding-bottom: 90% !important; }
.padding-height-100 { padding-bottom: 100% !important; }


/* ------------------------------------------------------------- *
 *  Paddings classes
/* ------------------------------------------------------------- */

.padding-5 { padding: 5px !important; }
.padding-10 { padding: 10px !important; }
.padding-15 { padding: 15px !important; }
.padding-20 { padding: 20px !important; }
.padding-25 { padding: 25px !important; }
.padding-30 { padding: 30px !important; }
.padding-35 { padding: 35px !important; }
.padding-40 { padding: 40px !important; }
.padding-45 { padding: 45px !important; }
.padding-50 { padding: 50px !important; }
.padding-55 { padding: 55px !important; }
.padding-60 { padding: 60px !important; }
.padding-65 { padding: 65px !important; }
.padding-70 { padding: 70px !important; }
.padding-75 { padding: 75px !important; }
.padding-80 { padding: 80px !important; }
.padding-85 { padding: 85px !important; }
.padding-100 { padding: 80px !important; }

/* padding top */
.padding-top-5 { padding-top: 5px !important; }
.padding-top-10 { padding-top: 10px !important; }
.padding-top-15 { padding-top: 15px !important; }
.padding-top-20 { padding-top: 20px !important; }
.padding-top-25 { padding-top: 25px !important; }
.padding-top-30 { padding-top: 30px !important; }
.padding-top-35 { padding-top: 35px !important; }
.padding-top-40 { padding-top: 40px !important; }
.padding-top-45 { padding-top: 45px !important; }
.padding-top-50 { padding-top: 50px !important; }
.padding-top-55 { padding-top: 55px !important; }
.padding-top-60 { padding-top: 60px !important; }
.padding-top-65 { padding-top: 65px !important; }
.padding-top-70 { padding-top: 70px !important; }
.padding-top-75 { padding-top: 75px !important; }
.padding-top-80 { padding-top: 80px !important; }
.padding-top-85 { padding-top: 85px !important; }
.padding-top-100 { padding-top: 100px !important; }

/* padding bottom */
.padding-bottom-5 { padding-bottom: 5px !important; }
.padding-bottom-10 { padding-bottom: 10px !important; }
.padding-bottom-15 { padding-bottom: 15px !important; }
.padding-bottom-20 { padding-bottom: 20px !important; }
.padding-bottom-25 { padding-bottom: 25px !important; }
.padding-bottom-30 { padding-bottom: 30px !important; }
.padding-bottom-35 { padding-bottom: 35px !important; }
.padding-bottom-40 { padding-bottom: 40px !important; }
.padding-bottom-45 { padding-bottom: 45px !important; }
.padding-bottom-50 { padding-bottom: 50px !important; }
.padding-bottom-55 { padding-bottom: 55px !important; }
.padding-bottom-60 { padding-bottom: 60px !important; }
.padding-bottom-65 { padding-bottom: 65px !important; }
.padding-bottom-70 { padding-bottom: 70px !important; }
.padding-bottom-75 { padding-bottom: 75px !important; }
.padding-bottom-80 { padding-bottom: 80px !important; }
.padding-bottom-85 { padding-bottom: 85px !important; }
.padding-bottom-100 { padding-bottom: 100px !important; }

/* padding left */
.padding-left-5 { padding-left: 5px !important; }
.padding-left-10 { padding-left: 10px !important; }
.padding-left-15 { padding-left: 15px !important; }
.padding-left-20 { padding-left: 20px !important; }
.padding-left-25 { padding-left: 25px !important; }
.padding-left-30 { padding-left: 30px !important; }
.padding-left-35 { padding-left: 35px !important; }
.padding-left-40 { padding-left: 40px !important; }
.padding-left-45 { padding-left: 45px !important; }
.padding-left-50 { padding-left: 50px !important; }
.padding-left-55 { padding-left: 55px !important; }
.padding-left-60 { padding-left: 60px !important; }
.padding-left-65 { padding-left: 65px !important; }
.padding-left-70 { padding-left: 70px !important; }
.padding-left-75 { padding-left: 75px !important; }
.padding-left-80 { padding-left: 80px !important; }
.padding-left-85 { padding-left: 85px !important; }
.padding-left-100 { padding-left: 100px !important; }

/* padding right */
.padding-right-5 { padding-right: 5px !important; }
.padding-right-10 { padding-right: 10px !important; }
.padding-right-15 { padding-right: 15px !important; }
.padding-right-20 { padding-right: 20px !important; }
.padding-right-25 { padding-right: 25px !important; }
.padding-right-30 { padding-right: 30px !important; }
.padding-right-35 { padding-right: 35px !important; }
.padding-right-40 { padding-right: 40px !important; }
.padding-right-45 { padding-right: 45px !important; }
.padding-right-50 { padding-right: 50px !important; }
.padding-right-55 { padding-right: 55px !important; }
.padding-right-60 { padding-right: 60px !important; }
.padding-right-65 { padding-right: 65px !important; }
.padding-right-70 { padding-right: 70px !important; }
.padding-right-75 { padding-right: 75px !important; }
.padding-right-80 { padding-right: 80px !important; }
.padding-right-85 { padding-right: 85px !important; }
.padding-right-100 { padding-right: 100px !important; }

/* no paddings classes */
.no-padding { padding: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }


/* ------------------------------------------------------------- *
 *  Margins classes
/* ------------------------------------------------------------- */

.margin-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.margin-5 { margin: 5px !important; }
.margin-10 { margin: 10px !important; }
.margin-15 { margin: 15px !important; }
.margin-20 { margin: 20px !important; }
.margin-25 { margin: 25px !important; }
.margin-30 { margin: 30px !important; }
.margin-35 { margin: 35px !important; }
.margin-40 { margin: 40px !important; }
.margin-45 { margin: 45px !important; }
.margin-50 { margin: 50px !important; }
.margin-55 { margin: 55px !important; }
.margin-60 { margin: 60px !important; }
.margin-65 { margin: 65px !important; }
.margin-70 { margin: 70px !important; }
.margin-75 { margin: 75px !important; }
.margin-80 { margin: 80px !important; }
.margin-85 { margin: 85px !important; }
.margin-90 { margin: 90px !important; }
.margin-95 { margin: 95px !important; }
.margin-100 { margin: 100px !important; }

/* margin top */
.margin-top-5 { margin-top: 5px !important; }
.margin-top-10 { margin-top: 10px !important; }
.margin-top-15 { margin-top: 15px !important; }
.margin-top-20 { margin-top: 20px !important; }
.margin-top-25 { margin-top: 25px !important; }
.margin-top-30 { margin-top: 30px !important; }
.margin-top-35 { margin-top: 35px !important; }
.margin-top-40 { margin-top: 40px !important; }
.margin-top-45 { margin-top: 45px !important; }
.margin-top-50 { margin-top: 50px !important; }
.margin-top-55 { margin-top: 55px !important; }
.margin-top-60 { margin-top: 60px !important; }
.margin-top-65 { margin-top: 65px !important; }
.margin-top-70 { margin-top: 70px !important; }
.margin-top-75 { margin-top: 75px !important; }
.margin-top-80 { margin-top: 80px !important; }
.margin-top-85 { margin-top: 85px !important; }
.margin-top-90 { margin-top: 90px !important; }
.margin-top-95 { margin-top: 95px !important; }
.margin-top-100 { margin-top: 100px !important; }

@media (max-width: 768px) {
	.margin-top-55 { margin-top: 30px !important; }
	.margin-top-60 { margin-top: 30px !important; }
	.margin-top-65 { margin-top: 30px !important; }
	.margin-top-70 { margin-top: 30px !important; }
	.margin-top-75 { margin-top: 30px !important; }
	.margin-top-80 { margin-top: 30px !important; }
	.margin-top-85 { margin-top: 30px !important; }
	.margin-top-90 { margin-top: 30px !important; }
	.margin-top-95 { margin-top: 30px !important; }
	.margin-top-100 { margin-top: 30px !important; }
}
@media (max-width: 991px) {
	.margin-top-55 { margin-top: 50px !important; }
	.margin-top-60 { margin-top: 50px !important; }
	.margin-top-65 { margin-top: 50px !important; }
	.margin-top-70 { margin-top: 50px !important; }
	.margin-top-75 { margin-top: 50px !important; }
	.margin-top-80 { margin-top: 50px !important; }
	.margin-top-85 { margin-top: 50px !important; }
	.margin-top-90 { margin-top: 50px !important; }
	.margin-top-95 { margin-top: 50px !important; }
	.margin-top-100 { margin-top: 50px !important; }
}

/* margin bottom */
.margin-bottom-5 { margin-bottom: 5px !important; }
.margin-bottom-10 { margin-bottom: 10px !important; }
.margin-bottom-15 { margin-bottom: 15px !important; }
.margin-bottom-20 { margin-bottom: 20px !important; }
.margin-bottom-25 { margin-bottom: 25px !important; }
.margin-bottom-30 { margin-bottom: 30px !important; }
.margin-bottom-35 { margin-bottom: 35px !important; }
.margin-bottom-40 { margin-bottom: 40px !important; }
.margin-bottom-45 { margin-bottom: 45px !important; }
.margin-bottom-50 { margin-bottom: 50px !important; }
.margin-bottom-55 { margin-bottom: 55px !important; }
.margin-bottom-60 { margin-bottom: 60px !important; }
.margin-bottom-65 { margin-bottom: 65px !important; }
.margin-bottom-70 { margin-bottom: 70px !important; }
.margin-bottom-75 { margin-bottom: 75px !important; }
.margin-bottom-80 { margin-bottom: 80px !important; }
.margin-bottom-85 { margin-bottom: 85px !important; }
.margin-bottom-90 { margin-bottom: 90px !important; }
.margin-bottom-95 { margin-bottom: 95px !important; }
.margin-bottom-100 { margin-bottom: 100px !important; }

@media (max-width: 768px) {
	.margin-bottom-55 { margin-bottom: 30px !important; }
	.margin-bottom-60 { margin-bottom: 30px !important; }
	.margin-bottom-65 { margin-bottom: 30px !important; }
	.margin-bottom-70 { margin-bottom: 30px !important; }
	.margin-bottom-75 { margin-bottom: 30px !important; }
	.margin-bottom-80 { margin-bottom: 30px !important; }
	.margin-bottom-85 { margin-bottom: 30px !important; }
	.margin-bottom-90 { margin-bottom: 30px !important; }
	.margin-bottom-95 { margin-bottom: 30px !important; }
	.margin-bottom-100 { margin-bottom: 30px !important; }
}
@media (max-width: 768px) {
	.margin-bottom-55 { margin-bottom: 50px !important; }
	.margin-bottom-60 { margin-bottom: 50px !important; }
	.margin-bottom-65 { margin-bottom: 50px !important; }
	.margin-bottom-70 { margin-bottom: 50px !important; }
	.margin-bottom-75 { margin-bottom: 50px !important; }
	.margin-bottom-80 { margin-bottom: 50px !important; }
	.margin-bottom-85 { margin-bottom: 50px !important; }
	.margin-bottom-90 { margin-bottom: 50px !important; }
	.margin-bottom-95 { margin-bottom: 50px !important; }
	.margin-bottom-100 { margin-bottom: 50px !important; }
}

/* margin left */
.margin-left-5 { margin-left: 5px !important; }
.margin-left-10 { margin-left: 10px !important; }
.margin-left-15 { margin-left: 15px !important; }
.margin-left-20 { margin-left: 20px !important; }
.margin-left-25 { margin-left: 25px !important; }
.margin-left-30 { margin-left: 30px !important; }
.margin-left-35 { margin-left: 35px !important; }
.margin-left-40 { margin-left: 40px !important; }
.margin-left-45 { margin-left: 45px !important; }
.margin-left-50 { margin-left: 50px !important; }
.margin-left-55 { margin-left: 55px !important; }
.margin-left-60 { margin-left: 60px !important; }
.margin-left-65 { margin-left: 65px !important; }
.margin-left-70 { margin-left: 70px !important; }
.margin-left-75 { margin-left: 75px !important; }
.margin-left-80 { margin-left: 80px !important; }
.margin-left-85 { margin-left: 85px !important; }
.margin-left-90 { margin-left: 90px !important; }
.margin-left-95 { margin-left: 95px !important; }
.margin-left-100 { margin-left: 100px !important; }

/* margin right */
.margin-right-5 { margin-right: 5px !important; }
.margin-right-10 { margin-right: 10px !important; }
.margin-right-15 { margin-right: 15px !important; }
.margin-right-20 { margin-right: 20px !important; }
.margin-right-25 { margin-right: 25px !important; }
.margin-right-30 { margin-right: 30px !important; }
.margin-right-35 { margin-right: 35px !important; }
.margin-right-40 { margin-right: 40px !important; }
.margin-right-45 { margin-right: 45px !important; }
.margin-right-50 { margin-right: 50px !important; }
.margin-right-55 { margin-right: 55px !important; }
.margin-right-60 { margin-right: 60px !important; }
.margin-right-65 { margin-right: 65px !important; }
.margin-right-70 { margin-right: 70px !important; }
.margin-right-75 { margin-right: 75px !important; }
.margin-right-80 { margin-right: 80px !important; }
.margin-right-85 { margin-right: 85px !important; }
.margin-right-90 { margin-right: 90px !important; }
.margin-right-95 { margin-right: 95px !important; }
.margin-right-100 { margin-right: 100px !important; }

/* no margins classes */
.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-right { margin-right: 0 !important; }


/* ------------------------------------------------------------- *
 *  Borders classes
/* ------------------------------------------------------------- */

.border { border: 1px solid rgba(132, 132, 132, 0.13) !important; }
.border-top { border-top: 1px solid rgba(132, 132, 132, 0.13) !important; }
.border-bottom { border-bottom: 1px solid rgba(132, 132, 132, 0.13) !important; }
.border-left { border-left: 1px solid rgba(132, 132, 132, 0.13) !important; }
.border-right { border-right: 1px solid rgba(132, 132, 132, 0.13) !important; }

/* no border classes */
.no-border { border: none !important; }
.no-border-top { border-top: none !important; }
.no-border-bottom { border-bottom: none !important; }
.no-border-left { border-left: none !important; }
.no-border-right { border-right: none !important; }

/* border width classes */
.border-width-1 { border-width: 1px !important; }
.border-width-2 { border-width: 2px !important; }
.border-width-3 { border-width: 3px !important; }
.border-width-4 { border-width: 4px !important; }
.border-width-5 { border-width: 5px !important; }
.border-width-6 { border-width: 6px !important; }
.border-width-7 { border-width: 7px !important; }
.border-width-8 { border-width: 8px !important; }
.border-width-9 { border-width: 9px !important; }
.border-width-10 { border-width: 10px !important; }

.border-top-width-1 { border-top-width: 1px !important; }
.border-top-width-2 { border-top-width: 2px !important; }
.border-top-width-3 { border-top-width: 3px !important; }
.border-top-width-4 { border-top-width: 4px !important; }
.border-top-width-5 { border-top-width: 5px !important; }
.border-top-width-6 { border-top-width: 6px !important; }
.border-top-width-7 { border-top-width: 7px !important; }
.border-top-width-8 { border-top-width: 8px !important; }
.border-top-width-9 { border-top-width: 9px !important; }
.border-top-width-10 { border-top-width: 10px !important; }

.border-bottom-width-1 { border-bottom-width: 1px !important; }
.border-bottom-width-2 { border-bottom-width: 2px !important; }
.border-bottom-width-3 { border-bottom-width: 3px !important; }
.border-bottom-width-4 { border-bottom-width: 4px !important; }
.border-bottom-width-5 { border-bottom-width: 5px !important; }
.border-bottom-width-6 { border-bottom-width: 6px !important; }
.border-bottom-width-7 { border-bottom-width: 7px !important; }
.border-bottom-width-8 { border-bottom-width: 8px !important; }
.border-bottom-width-9 { border-bottom-width: 9px !important; }
.border-bottom-width-10 { border-bottom-width: 10px !important; }

.border-left-width-1 { border-left-width: 1px !important; }
.border-left-width-2 { border-left-width: 2px !important; }
.border-left-width-3 { border-left-width: 3px !important; }
.border-left-width-4 { border-left-width: 4px !important; }
.border-left-width-5 { border-left-width: 5px !important; }
.border-left-width-6 { border-left-width: 6px !important; }
.border-left-width-7 { border-left-width: 7px !important; }
.border-left-width-8 { border-left-width: 8px !important; }
.border-left-width-9 { border-left-width: 9px !important; }
.border-left-width-10 { border-left-width: 10px !important; }

.border-right-width-1 { border-right-width: 1px !important; }
.border-right-width-2 { border-right-width: 2px !important; }
.border-right-width-3 { border-right-width: 3px !important; }
.border-right-width-4 { border-right-width: 4px !important; }
.border-right-width-5 { border-right-width: 5px !important; }
.border-right-width-6 { border-right-width: 6px !important; }
.border-right-width-7 { border-right-width: 7px !important; }
.border-right-width-8 { border-right-width: 8px !important; }
.border-right-width-9 { border-right-width: 9px !important; }
.border-right-width-10 { border-right-width: 10px !important; }

/* border style classes */
.border-solid { border-style: solid !important; }
.border-top-solid { border-top-style: solid !important; }
.border-bottom-solid { border-bottom-style: solid !important; }
.border-left-solid { border-left-style: solid !important; }
.border-right-solid { border-right-style: solid !important; }

.border-dashed { border-style: dashed !important; }
.border-top-dashed { border-top-style: dashed !important; }
.border-bottom-dashed { border-bottom-style: dashed !important; }
.border-left-dashed { border-left-style: dashed !important; }
.border-right-dashed { border-right-style: dashed !important; }

.border-dotted { border-style: dotted !important; }
.border-top-dotted { border-top-style: dotted !important; }
.border-bottom-dotted { border-bottom-style: dotted !important; }
.border-left-dotted { border-left-style: dotted !important; }
.border-right-dotted { border-right-style: dotted !important; }

.border-double { border-style: double !important; }
.border-top-double { border-top-style: double !important; }
.border-bottom-double { border-bottom-style: double !important; }
.border-left-double { border-left-style: double !important; }
.border-right-double { border-right-style: double !important; }

.border-groove { border-style: groove !important; }
.border-top-groove { border-top-style: groove !important; }
.border-bottom-groove { border-bottom-style: groove !important; }
.border-left-groove { border-left-style: groove !important; }
.border-right-groove { border-right-style: groove !important; }

.border-inset { border-style: inset !important; }
.border-top-inset { border-top-style: inset !important; }
.border-bottom-inset { border-bottom-style: inset !important; }
.border-left-inset { border-left-style: inset !important; }
.border-right-inset { border-right-style: inset !important; }

.border-outset { border-style: outset !important; }
.border-top-outset { border-top-style: outset !important; }
.border-bottom-outset { border-bottom-style: outset !important; }
.border-left-outset { border-left-style: outset !important; }
.border-right-outset { border-right-style: outset !important; }

/* border color classes */
.border-main { border-color: #f7465b !important; } /* template main color */
.border-top-main { border-top-color: #f7465b !important; } /* template main color */
.border-bottom-main { border-bottom-color: #f7465b !important; } /* template main color */
.border-left-main { border-left-color: #f7465b !important; } /* template main color */
.border-right-main { border-right-color: #f7465b !important; } /* template main color */

.border-white { border-color: #FFF !important; }
.border-top-white { border-top-color: #FFF !important; }
.border-bottom-white { border-bottom-color: #FFF !important; }
.border-left-white { border-left-color: #FFF !important; }
.border-right-white { border-right-color: #FFF !important; }

.border-gray { border-color: #A4AAAD !important; }
.border-gray-2 { border-color: #D1D5D6 !important; }
.border-gray-3 { border-color: #EEE !important; }

.border-top-gray { border-top-color: #999 !important; }
.border-bottom-gray { border-bottom-color: #999 !important; }
.border-left-gray { border-left-color: #999 !important; }
.border-right-gray { border-right-color: #999 !important; }

.border-dark { border-color: #141414 !important; }
.border-dark-2 { border-color: #44484C !important; }
.border-dark-3 { border-color: #333 !important; }
.border-top-dark { border-top-color: #141414 !important; }
.border-top-dark-2 { border-top-color: #44484C !important; }
.border-top-dark-3 { border-top-color: #333 !important; }
.border-bottom-dark { border-bottom-color: #141414 !important; }
.border-bottom-dark-2 { border-bottom-color: #44484C !important; }
.border-bottom-dark-3 { border-bottom-color: #333 !important; }
.border-left-dark { border-left-color: #141414 !important; }
.border-left-dark-2 { border-left-color: #44484C !important; }
.border-left-dark-3 { border-left-color: #333 !important; }
.border-right-dark { border-right-color: #141414 !important; }
.border-right-dark-2 { border-right-color: #44484C !important; }
.border-right-dark-3 { border-right-color: #333 !important; }

.border-green { border-color: #5FC11B !important; }
.border-top-green { border-top-color: #5FC11B !important; }
.border-bottom-green { border-bottom-color: #5FC11B !important; }
.border-left-green { border-left-color: #5FC11B !important; }
.border-right-green { border-right-color: #5FC11B !important; }

.border-blue { border-color: #3067B3 !important; }
.border-top-blue { border-top-color: #3067B3 !important; }
.border-bottom-blue { border-bottom-color: #3067B3 !important; }
.border-left-blue { border-left-color: #3067B3 !important; }
.border-right-blue { border-right-color: #3067B3 !important; }

.border-yellow { border-color: #FFCD00 !important; }
.border-top-yellow { border-top-color: #FFCD00 !important; }
.border-bottom-yellow { border-bottom-color: #FFCD00 !important; }
.border-left-yellow { border-left-color: #FFCD00 !important; }
.border-right-yellow { border-right-color: #FFCD00 !important; }

.border-red { border-color: #FD2B2B !important; }
.border-top-red { border-top-color: #FD2B2B !important; }
.border-bottom-red { border-bottom-color: #FD2B2B !important; }
.border-left-red { border-left-color: #FD2B2B !important; }
.border-right-red { border-right-color: #FD2B2B !important; }

.border-brown { border-color: #A08650 !important; }
.border-top-brown { border-top-color: #A08650 !important; }
.border-bottom-brown { border-bottom-color: #A08650 !important; }
.border-left-brown { border-left-color: #A08650 !important; }
.border-right-brown { border-right-color: #A08650 !important; }

.border-purple { border-color: #800080 !important; }
.border-top-purple { border-top-color: #800080 !important; }
.border-bottom-purple { border-bottom-color: #800080 !important; }
.border-left-purple { border-left-color: #800080 !important; }
.border-right-purple { border-right-color: #800080 !important; }

.border-pink { border-color: #E82D66 !important; }
.border-top-pink { border-top-color: #E82D66 !important; }
.border-bottom-pink { border-bottom-color: #E82D66 !important; }
.border-left-pink { border-left-color: #E82D66 !important; }
.border-right-pink { border-right-color: #E82D66 !important; }

/* border transparent classes */
.border-transparent { border-color: transparent !important; }
.border-top-transparent { border-top-color: transparent !important; }
.border-bottom-transparent { border-bottom-color: transparent !important; }
.border-left-transparent { border-left-color: transparent !important; }
.border-right-transparent { border-right-color: transparent !important; }


/* ------------------------------------------------------------- *
 *  Text color classes
/* ------------------------------------------------------------- */

.text-main { color: #f7465b !important; } /* template main color */
.text-white { color: #FFF !important; }
.text-gray { color: #A4AAAD !important; }
.text-gray-2 { color: #D1D5D6 !important; }
.text-gray-3 { color: #EEE !important; }
.text-dark { color: #545A5F !important; }
.text-dark-2 { color: #8E969C !important; }
.text-dark-3 { color: #BCC2C7 !important; }
.text-green { color: #5FC11B !important; }
.text-blue { color: #3067B3 !important; }
.text-yellow { color: #FFCD00 !important; }
.text-red { color: #FD2B2B !important; }
.text-brown { color: #A08650 !important; }
.text-purple { color: #800080 !important; }
.text-pink { color: #E82D66 !important; }


/* ------------------------------------------------------------- *
 *  Link color classes
/* ------------------------------------------------------------- */

.link-main a { color: #f7465b !important; } /* template main color */
.link-white a { color: #FFF !important; }
.link-gray a { color: #A4AAAD !important; }
.link-gray-2 a { color: #D1D5D6 !important; }
.link-gray-3 a { color: #EEE !important; }
.link-dark a { color: #545A5F !important; }
.link-dark-2 a { color: #8E969C !important; }
.link-dark-3 a { color: #BCC2C7 !important; }
.link-green a { color: #5FC11B !important; }
.link-blue a { color: #3067B3 !important; }
.link-yellow a { color: #FFCD00 !important; }
.link-red a { color: #FD2B2B !important; }
.link-brown a { color: #A08650 !important; }
.link-purple a { color: #800080 !important; }
.link-pink a { color: #E82D66 !important; }


/* ------------------------------------------------------------- *
 *  Background color classes
/* ------------------------------------------------------------- */

.bg-main { background-color: #f7465b !important; } /* template main color */
.bg-white { background-color: #FFF !important; }
.bg-gray { background-color: #A4AAAD !important; }
.bg-gray-2 { background-color: #D1D5D6 !important; }
.bg-gray-3 { background-color: #EEE !important; }
.bg-gray-4 { background-color: #F1F1F1 !important; }
.bg-dark { background-color: #070F13 !important; }
.bg-dark-2 { background-color: #151F23 !important; }
.bg-dark-3 { background-color: #324046 !important; }
.bg-green { background-color: #5FC11B !important; }
.bg-blue { background-color: #3067B3 !important; }
.bg-yellow { background-color: #FFCD00 !important; }
.bg-red { background-color: #FD2B2B !important; }
.bg-brown { background-color: #A08650 !important; }
.bg-purple { background-color: #800080 !important; }
.bg-pink { background-color: #E82D66 !important; }


/* ------------------------------------------------------------- *
 *  Background transparent color classes (opacity 1 to 9.5)
/* ------------------------------------------------------------- */

.bg-transparent { background-color: transparent !important; } /* 100% transparent */

.bg-transparent-1-main { background-color: rgba(247, 70, 91, 0.1) !important; } /* template main color */
.bg-transparent-1-5-main { background-color: rgba(247, 70, 91, 0.15) !important; } /* template main color */
.bg-transparent-2-main { background-color: rgba(247, 70, 91, 0.2) !important; } /* template main color */
.bg-transparent-2-5-main { background-color: rgba(247, 70, 91, 0.25) !important; } /* template main color */
.bg-transparent-3-main { background-color: rgba(247, 70, 91, 0.3) !important; } /* template main color */
.bg-transparent-3-5-main { background-color: rgba(247, 70, 91, 0.35) !important; } /* template main color */
.bg-transparent-4-main { background-color: rgba(247, 70, 91, 0.4) !important; } /* template main color */
.bg-transparent-4-5-main { background-color: rgba(247, 70, 91, 0.45) !important; } /* template main color */
.bg-transparent-5-main { background-color: rgba(247, 70, 91, 0.5) !important; } /* template main color */
.bg-transparent-5-5-main { background-color: rgba(247, 70, 91, 0.55) !important; } /* template main color */
.bg-transparent-6-main { background-color: rgba(247, 70, 91, 0.6) !important; } /* template main color */
.bg-transparent-6-5-main { background-color: rgba(247, 70, 91, 0.65) !important; } /* template main color */
.bg-transparent-7-main { background-color: rgba(247, 70, 91, 0.7) !important; } /* template main color */
.bg-transparent-7-5-main { background-color: rgba(247, 70, 91, 0.75) !important; } /* template main color */
.bg-transparent-8-main { background-color: rgba(247, 70, 91, 0.8) !important; } /* template main color */
.bg-transparent-8-5-main { background-color: rgba(247, 70, 91, 0.85) !important; } /* template main color */
.bg-transparent-9-main { background-color: rgba(247, 70, 91, 0.9) !important; } /* template main color */
.bg-transparent-9-5-main { background-color: rgba(247, 70, 91, 0.95) !important; } /* template main color */

.bg-transparent-1-white { background-color: rgba(255, 255, 255, 0.1) !important; }
.bg-transparent-1-5-white { background-color: rgba(255, 255, 255, 0.15) !important; }
.bg-transparent-2-white { background-color: rgba(255, 255, 255, 0.2) !important; }
.bg-transparent-2-5-white { background-color: rgba(255, 255, 255, 0.25) !important; }
.bg-transparent-3-white { background-color: rgba(255, 255, 255, 0.3) !important; }
.bg-transparent-3-5-white { background-color: rgba(255, 255, 255, 0.35) !important; }
.bg-transparent-4-white { background-color: rgba(255, 255, 255, 0.4) !important; }
.bg-transparent-4-5-white { background-color: rgba(255, 255, 255, 0.45) !important; }
.bg-transparent-5-white { background-color: rgba(255, 255, 255, 0.5) !important; }
.bg-transparent-5-5-white { background-color: rgba(255, 255, 255, 0.55) !important; }
.bg-transparent-6-white { background-color: rgba(255, 255, 255, 0.6) !important; }
.bg-transparent-6-5-white { background-color: rgba(255, 255, 255, 0.65) !important; }
.bg-transparent-7-white { background-color: rgba(255, 255, 255, 0.7) !important; }
.bg-transparent-7-5-white { background-color: rgba(255, 255, 255, 0.75) !important; }
.bg-transparent-8-white { background-color: rgba(255, 255, 255, 0.8) !important; }
.bg-transparent-8-5-white { background-color: rgba(255, 255, 255, 0.85) !important; }
.bg-transparent-9-white { background-color: rgba(255, 255, 255, 0.9) !important; }
.bg-transparent-9-5-white { background-color: rgba(255, 255, 255, 0.95) !important; }

.bg-transparent-1-gray { background-color: rgba(153, 153, 153, 0.1) !important; }
.bg-transparent-1-5-gray { background-color: rgba(153, 153, 153, 0.15) !important; }
.bg-transparent-2-gray { background-color: rgba(153, 153, 153, 0.2) !important; }
.bg-transparent-2-5-gray { background-color: rgba(153, 153, 153, 0.25) !important; }
.bg-transparent-3-gray { background-color: rgba(153, 153, 153, 0.3) !important; }
.bg-transparent-3-5-gray { background-color: rgba(153, 153, 153, 0.35) !important; }
.bg-transparent-4-gray { background-color: rgba(153, 153, 153, 0.4) !important; }
.bg-transparent-4-5-gray { background-color: rgba(153, 153, 153, 0.45) !important; }
.bg-transparent-5-gray { background-color: rgba(153, 153, 153, 0.5) !important; }
.bg-transparent-5-5-gray { background-color: rgba(153, 153, 153, 0.55) !important; }
.bg-transparent-6-gray { background-color: rgba(153, 153, 153, 0.6) !important; }
.bg-transparent-6-5-gray { background-color: rgba(153, 153, 153, 0.65) !important; }
.bg-transparent-7-gray { background-color: rgba(153, 153, 153, 0.7) !important; }
.bg-transparent-7-5-gray { background-color: rgba(153, 153, 153, 0.75) !important; }
.bg-transparent-8-gray { background-color: rgba(153, 153, 153, 0.8) !important; }
.bg-transparent-8-5-gray { background-color: rgba(153, 153, 153, 0.85) !important; }
.bg-transparent-9-gray { background-color: rgba(153, 153, 153, 0.9) !important; }
.bg-transparent-9-5-gray { background-color: rgba(153, 153, 153, 0.95) !important; }

.bg-transparent-1-dark { background-color: rgba(0, 7, 10, 0.1) !important; }
.bg-transparent-1-5-dark { background-color: rgba(0, 7, 10, 0.15) !important; }
.bg-transparent-2-dark { background-color: rgba(0, 7, 10, 0.2) !important; }
.bg-transparent-2-5-dark { background-color: rgba(0, 7, 10, 0.25) !important; }
.bg-transparent-3-dark { background-color: rgba(0, 7, 10, 0.3) !important; }
.bg-transparent-3-5-dark { background-color: rgba(0, 7, 10, 0.35) !important; }
.bg-transparent-4-dark { background-color: rgba(0, 7, 10, 0.4) !important; }
.bg-transparent-4-5-dark { background-color: rgba(0, 7, 10, 0.45) !important; }
.bg-transparent-5-dark { background-color: rgba(0, 7, 10, 0.5) !important; }
.bg-transparent-5-5-dark { background-color: rgba(0, 7, 10, 0.55) !important; }
.bg-transparent-6-dark { background-color: rgba(0, 7, 10, 0.6) !important; }
.bg-transparent-6-5-dark { background-color: rgba(0, 7, 10, 0.65) !important; }
.bg-transparent-7-dark { background-color: rgba(0, 7, 10, 0.7) !important; }
.bg-transparent-7-5-dark { background-color: rgba(0, 7, 10, 0.75) !important; }
.bg-transparent-8-dark { background-color: rgba(0, 7, 10, 0.8) !important; }
.bg-transparent-8-5-dark { background-color: rgba(0, 7, 10, 0.85) !important; }
.bg-transparent-9-dark { background-color: rgba(0, 7, 10, 0.9) !important; }
.bg-transparent-9-5-dark { background-color: rgba(0, 7, 10, 0.95) !important; }

.bg-transparent-1-green { background-color: rgba(107, 165, 45, 0.1) !important; }
.bg-transparent-1-5-green { background-color: rgba(107, 165, 45, 0.15) !important; }
.bg-transparent-2-green { background-color: rgba(107, 165, 45, 0.2) !important; }
.bg-transparent-2-5-green { background-color: rgba(107, 165, 45, 0.25) !important; }
.bg-transparent-3-green { background-color: rgba(107, 165, 45, 0.3) !important; }
.bg-transparent-3-5-green { background-color: rgba(107, 165, 45, 0.35) !important; }
.bg-transparent-4-green { background-color: rgba(107, 165, 45, 0.4) !important; }
.bg-transparent-4-5-green { background-color: rgba(107, 165, 45, 0.45) !important; }
.bg-transparent-5-green { background-color: rgba(107, 165, 45, 0.5) !important; }
.bg-transparent-5-5-green { background-color: rgba(107, 165, 45, 0.55) !important; }
.bg-transparent-6-green { background-color: rgba(107, 165, 45, 0.6) !important; }
.bg-transparent-6-5-green { background-color: rgba(107, 165, 45, 0.65) !important; }
.bg-transparent-7-green { background-color: rgba(107, 165, 45, 0.7) !important; }
.bg-transparent-7-5-green { background-color: rgba(107, 165, 45, 0.75) !important; }
.bg-transparent-8-green { background-color: rgba(107, 165, 45, 0.8) !important; }
.bg-transparent-8-5-green { background-color: rgba(107, 165, 45, 0.85) !important; }
.bg-transparent-9-green { background-color: rgba(107, 165, 45, 0.9) !important; }
.bg-transparent-9-5-green { background-color: rgba(107, 165, 45, 0.95) !important; }

.bg-transparent-1-blue { background-color: rgba(48, 103, 179, 0.1) !important; }
.bg-transparent-1-5-blue { background-color: rgba(48, 103, 179, 0.15) !important; }
.bg-transparent-2-blue { background-color: rgba(48, 103, 179, 0.2) !important; }
.bg-transparent-2-5-blue { background-color: rgba(48, 103, 179, 0.25) !important; }
.bg-transparent-3-blue { background-color: rgba(48, 103, 179, 0.3) !important; }
.bg-transparent-3-5-blue { background-color: rgba(48, 103, 179, 0.35) !important; }
.bg-transparent-4-blue { background-color: rgba(48, 103, 179, 0.4) !important; }
.bg-transparent-4-5-blue { background-color: rgba(48, 103, 179, 0.45) !important; }
.bg-transparent-5-blue { background-color: rgba(48, 103, 179, 0.5) !important; }
.bg-transparent-5-5-blue { background-color: rgba(48, 103, 179, 0.55) !important; }
.bg-transparent-6-blue { background-color: rgba(48, 103, 179, 0.6) !important; }
.bg-transparent-6-5-blue { background-color: rgba(48, 103, 179, 0.65) !important; }
.bg-transparent-7-blue { background-color: rgba(48, 103, 179, 0.7) !important; }
.bg-transparent-7-5-blue { background-color: rgba(48, 103, 179, 0.75) !important; }
.bg-transparent-8-blue { background-color: rgba(48, 103, 179, 0.8) !important; }
.bg-transparent-8-5-blue { background-color: rgba(48, 103, 179, 0.85) !important; }
.bg-transparent-9-blue { background-color: rgba(48, 103, 179, 0.9) !important; }
.bg-transparent-9-5-blue { background-color: rgba(48, 103, 179, 0.95) !important; }

.bg-transparent-1-yellow { background-color: rgba(255, 205, 0, 0.1) !important; }
.bg-transparent-1-5-yellow { background-color: rgba(255, 205, 0, 0.15) !important; }
.bg-transparent-2-yellow { background-color: rgba(255, 205, 0, 0.2) !important; }
.bg-transparent-2-5-yellow { background-color: rgba(255, 205, 0, 0.25) !important; }
.bg-transparent-3-yellow { background-color: rgba(255, 205, 0, 0.3) !important; }
.bg-transparent-3-5-yellow { background-color: rgba(255, 205, 0, 0.35) !important; }
.bg-transparent-4-yellow { background-color: rgba(255, 205, 0, 0.4) !important; }
.bg-transparent-4-5-yellow { background-color: rgba(255, 205, 0, 0.45) !important; }
.bg-transparent-5-yellow { background-color: rgba(255, 205, 0, 0.5) !important; }
.bg-transparent-5-5-yellow { background-color: rgba(255, 205, 0, 0.55) !important; }
.bg-transparent-6-yellow { background-color: rgba(255, 205, 0, 0.6) !important; }
.bg-transparent-6-5-yellow { background-color: rgba(255, 205, 0, 0.65) !important; }
.bg-transparent-7-yellow { background-color: rgba(255, 205, 0, 0.7) !important; }
.bg-transparent-7-5-yellow { background-color: rgba(255, 205, 0, 0.75) !important; }
.bg-transparent-8-yellow { background-color: rgba(255, 205, 0, 0.8) !important; }
.bg-transparent-8-5-yellow { background-color: rgba(255, 205, 0, 0.85) !important; }
.bg-transparent-9-yellow { background-color: rgba(255, 205, 0, 0.9) !important; }
.bg-transparent-9-5-yellow { background-color: rgba(255, 205, 0, 0.95) !important; }

.bg-transparent-1-red { background-color: rgba(253, 43, 43, 0.1) !important; }
.bg-transparent-1-5-red { background-color: rgba(253, 43, 43, 0.15) !important; }
.bg-transparent-2-red { background-color: rgba(253, 43, 43, 0.2) !important; }
.bg-transparent-2-5-red { background-color: rgba(253, 43, 43, 0.25) !important; }
.bg-transparent-3-red { background-color: rgba(253, 43, 43, 0.3) !important; }
.bg-transparent-3-5-red { background-color: rgba(253, 43, 43, 0.35) !important; }
.bg-transparent-4-red { background-color: rgba(253, 43, 43, 0.4) !important; }
.bg-transparent-4-5-red { background-color: rgba(253, 43, 43, 0.45) !important; }
.bg-transparent-5-red { background-color: rgba(253, 43, 43, 0.5) !important; }
.bg-transparent-5-5-red { background-color: rgba(253, 43, 43, 0.55) !important; }
.bg-transparent-6-red { background-color: rgba(253, 43, 43, 0.6) !important; }
.bg-transparent-6-5-red { background-color: rgba(253, 43, 43, 0.65) !important; }
.bg-transparent-7-red { background-color: rgba(253, 43, 43, 0.7) !important; }
.bg-transparent-7-5-red { background-color: rgba(253, 43, 43, 0.75) !important; }
.bg-transparent-8-red { background-color: rgba(253, 43, 43, 0.8) !important; }
.bg-transparent-8-5-red { background-color: rgba(253, 43, 43, 0.85) !important; }
.bg-transparent-9-red { background-color: rgba(253, 43, 43, 0.9) !important; }
.bg-transparent-9-5-red { background-color: rgba(253, 43, 43, 0.95) !important; }

.bg-transparent-1-brown { background-color: rgba(181, 149, 82, 0.1) !important; }
.bg-transparent-1-5-brown { background-color: rgba(181, 149, 82, 0.15) !important; }
.bg-transparent-2-brown { background-color: rgba(181, 149, 82, 0.2) !important; }
.bg-transparent-2-5-brown { background-color: rgba(181, 149, 82, 0.25) !important; }
.bg-transparent-3-brown { background-color: rgba(181, 149, 82, 0.3) !important; }
.bg-transparent-3-5-brown { background-color: rgba(181, 149, 82, 0.35) !important; }
.bg-transparent-4-brown { background-color: rgba(181, 149, 82, 0.4) !important; }
.bg-transparent-4-5-brown { background-color: rgba(181, 149, 82, 0.45) !important; }
.bg-transparent-5-brown { background-color: rgba(181, 149, 82, 0.5) !important; }
.bg-transparent-5-5-brown { background-color: rgba(181, 149, 82, 0.55) !important; }
.bg-transparent-6-brown { background-color: rgba(181, 149, 82, 0.6) !important; }
.bg-transparent-6-5-brown { background-color: rgba(181, 149, 82, 0.65) !important; }
.bg-transparent-7-brown { background-color: rgba(181, 149, 82, 0.7) !important; }
.bg-transparent-7-5-brown { background-color: rgba(181, 149, 82, 0.75) !important; }
.bg-transparent-8-brown { background-color: rgba(181, 149, 82, 0.8) !important; }
.bg-transparent-8-5-brown { background-color: rgba(181, 149, 82, 0.85) !important; }
.bg-transparent-9-brown { background-color: rgba(181, 149, 82, 0.9) !important; }
.bg-transparent-9-5-brown { background-color: rgba(181, 149, 82, 0.95) !important; }

.bg-transparent-1-purple { background-color: rgba(128, 0, 128, 0.1) !important; }
.bg-transparent-1-5-purple { background-color: rgba(128, 0, 128, 0.15) !important; }
.bg-transparent-2-purple { background-color: rgba(128, 0, 128, 0.2) !important; }
.bg-transparent-2-5-purple { background-color: rgba(128, 0, 128, 0.25) !important; }
.bg-transparent-3-purple { background-color: rgba(128, 0, 128, 0.3) !important; }
.bg-transparent-3-5-purple { background-color: rgba(128, 0, 128, 0.35) !important; }
.bg-transparent-4-purple { background-color: rgba(128, 0, 128, 0.4) !important; }
.bg-transparent-4-5-purple { background-color: rgba(128, 0, 128, 0.45) !important; }
.bg-transparent-5-purple { background-color: rgba(128, 0, 128, 0.5) !important; }
.bg-transparent-5-5-purple { background-color: rgba(128, 0, 128, 0.55) !important; }
.bg-transparent-6-purple { background-color: rgba(128, 0, 128, 0.6) !important; }
.bg-transparent-6-5-purple { background-color: rgba(128, 0, 128, 0.65) !important; }
.bg-transparent-7-purple { background-color: rgba(128, 0, 128, 0.7) !important; }
.bg-transparent-7-5-purple { background-color: rgba(128, 0, 128, 0.75) !important; }
.bg-transparent-8-purple { background-color: rgba(128, 0, 128, 0.8) !important; }
.bg-transparent-8-5-purple { background-color: rgba(128, 0, 128, 0.85) !important; }
.bg-transparent-9-purple { background-color: rgba(128, 0, 128, 0.9) !important; }
.bg-transparent-9-5-purple { background-color: rgba(128, 0, 128, 0.95) !important; }

.bg-transparent-1-pink { background-color: rgba(232, 45, 102, 0.1) !important; }
.bg-transparent-1-5-pink { background-color: rgba(232, 45, 102, 0.15) !important; }
.bg-transparent-2-pink { background-color: rgba(232, 45, 102, 0.2) !important; }
.bg-transparent-2-5-pink { background-color: rgba(232, 45, 102, 0.25) !important; }
.bg-transparent-3-pink { background-color: rgba(232, 45, 102, 0.3) !important; }
.bg-transparent-3-5-pink { background-color: rgba(232, 45, 102, 0.35) !important; }
.bg-transparent-4-pink { background-color: rgba(232, 45, 102, 0.4) !important; }
.bg-transparent-4-5-pink { background-color: rgba(232, 45, 102, 0.45) !important; }
.bg-transparent-5-pink { background-color: rgba(232, 45, 102, 0.5) !important; }
.bg-transparent-5-5-pink { background-color: rgba(232, 45, 102, 0.55) !important; }
.bg-transparent-6-pink { background-color: rgba(232, 45, 102, 0.6) !important; }
.bg-transparent-6-5-pink { background-color: rgba(232, 45, 102, 0.65) !important; }
.bg-transparent-7-pink { background-color: rgba(232, 45, 102, 0.7) !important; }
.bg-transparent-7-5-pink { background-color: rgba(232, 45, 102, 0.75) !important; }
.bg-transparent-8-pink { background-color: rgba(232, 45, 102, 0.8) !important; }
.bg-transparent-8-5-pink { background-color: rgba(232, 45, 102, 0.85) !important; }
.bg-transparent-9-pink { background-color: rgba(232, 45, 102, 0.9) !important; }
.bg-transparent-9-5-pink { background-color: rgba(232, 45, 102, 0.95) !important; }


/* ----------------------------------------------------------------------------------------------------- *
 *  Background gradient color classes (gradient generator: http://www.colorzilla.com/gradient-editor/)
/* ----------------------------------------------------------------------------------------------------- */

.bg-gradient-1 {
	background: #ff473d;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmY0NzNkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQxMDFmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #ff473d 0%, #4101ff 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff473d), color-stop(100%,#4101ff));
	background: -webkit-linear-gradient(-45deg,  #ff473d 0%,#4101ff 100%);
	background: -o-linear-gradient(-45deg,  #ff473d 0%,#4101ff 100%);
	background: -ms-linear-gradient(-45deg,  #ff473d 0%,#4101ff 100%);
	background: linear-gradient(135deg,  #ff473d 0%,#4101ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff473d', endColorstr='#4101ff',GradientType=1 );
}
.bg-gradient-2 {
	background: #ffdf3d;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZkZjNkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMDFmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #ffdf3d 0%, #ff01f7 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffdf3d), color-stop(100%,#ff01f7));
	background: -webkit-linear-gradient(-45deg,  #ffdf3d 0%,#ff01f7 100%);
	background: -o-linear-gradient(-45deg,  #ffdf3d 0%,#ff01f7 100%);
	background: -ms-linear-gradient(-45deg,  #ffdf3d 0%,#ff01f7 100%);
	background: linear-gradient(135deg,  #ffdf3d 0%,#ff01f7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdf3d', endColorstr='#ff01f7',GradientType=1 );
}
.bg-gradient-3 {
	background: #ff0105;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmYwMTA1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdlZmMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #ff0105 0%, #7efc00 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff0105), color-stop(100%,#7efc00));
	background: -webkit-linear-gradient(-45deg,  #ff0105 0%,#7efc00 100%);
	background: -o-linear-gradient(-45deg,  #ff0105 0%,#7efc00 100%);
	background: -ms-linear-gradient(-45deg,  #ff0105 0%,#7efc00 100%);
	background: linear-gradient(135deg,  #ff0105 0%,#7efc00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0105', endColorstr='#7efc00',GradientType=1 );
}
.bg-gradient-4 {
	background: #00ff2e;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDBmZjJlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNGJmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #00ff2e 0%, #004bfc 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#00ff2e), color-stop(100%,#004bfc));
	background: -webkit-linear-gradient(-45deg,  #00ff2e 0%,#004bfc 100%);
	background: -o-linear-gradient(-45deg,  #00ff2e 0%,#004bfc 100%);
	background: -ms-linear-gradient(-45deg,  #00ff2e 0%,#004bfc 100%);
	background: linear-gradient(135deg,  #00ff2e 0%,#004bfc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff2e', endColorstr='#004bfc',GradientType=1 );
}
.bg-gradient-5 {
	background: #db00af;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZGIwMGFmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYTM5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #db00af 0%, #00a390 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#db00af), color-stop(100%,#00a390));
	background: -webkit-linear-gradient(-45deg,  #db00af 0%,#00a390 100%);
	background: -o-linear-gradient(-45deg,  #db00af 0%,#00a390 100%);
	background: -ms-linear-gradient(-45deg,  #db00af 0%,#00a390 100%);
	background: linear-gradient(135deg,  #db00af 0%,#00a390 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db00af', endColorstr='#00a390',GradientType=1 );
}


/* ----------------------------------------------------------------------------------------------------------------- *
 *  Background transparent gradient color classes (gradient generator: http://www.colorzilla.com/gradient-editor/)
/* ----------------------------------------------------------------------------------------------------------------- */

.bg-transparent-gradient-1 {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 74%, rgba(0,0,0,0.65) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(74%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 74%,rgba(0,0,0,0.65) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 74%,rgba(0,0,0,0.65) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 74%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 74%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.bg-transparent-gradient-2 {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 26%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(26%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 26%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 26%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 26%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 26%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}
.bg-transparent-gradient-3 {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAyIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.02) 0%, rgba(255,255,255,0.3) 50%, rgba(0,0,0,0.02) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.02)), color-stop(50%,rgba(255,255,255,0.3)), color-stop(100%,rgba(0,0,0,0.02)));
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.02) 0%,rgba(255,255,255,0.3) 50%,rgba(0,0,0,0.02) 100%);
	background: -o-linear-gradient(left,  rgba(0,0,0,0.02) 0%,rgba(255,255,255,0.3) 50%,rgba(0,0,0,0.02) 100%);
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.02) 0%,rgba(255,255,255,0.3) 50%,rgba(0,0,0,0.02) 100%);
	background: linear-gradient(to right,  rgba(0,0,0,0.02) 0%,rgba(255,255,255,0.3) 50%,rgba(0,0,0,0.02) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05000000', endColorstr='#05000000',GradientType=1 );
}

.bg-transparent-gradient-4 {
	opacity: 0.7 !important;
	background: #ff473d;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmY0NzNkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQxMDFmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #ff473d 0%, #4101ff 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff473d), color-stop(100%,#4101ff));
	background: -webkit-linear-gradient(-45deg,  #ff473d 0%,#4101ff 100%);
	background: -o-linear-gradient(-45deg,  #ff473d 0%,#4101ff 100%);
	background: -ms-linear-gradient(-45deg,  #ff473d 0%,#4101ff 100%);
	background: linear-gradient(135deg,  #ff473d 0%,#4101ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff473d', endColorstr='#4101ff',GradientType=1 );
}
.bg-transparent-gradient-5 {
	opacity: 0.7 !important;
	background: #ffdf3d;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZkZjNkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMDFmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #ffdf3d 0%, #ff01f7 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffdf3d), color-stop(100%,#ff01f7));
	background: -webkit-linear-gradient(-45deg,  #ffdf3d 0%,#ff01f7 100%);
	background: -o-linear-gradient(-45deg,  #ffdf3d 0%,#ff01f7 100%);
	background: -ms-linear-gradient(-45deg,  #ffdf3d 0%,#ff01f7 100%);
	background: linear-gradient(135deg,  #ffdf3d 0%,#ff01f7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdf3d', endColorstr='#ff01f7',GradientType=1 );
}
.bg-transparent-gradient-6 {
	opacity: 0.7 !important;
	background: #ff0105;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmYwMTA1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdlZmMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #ff0105 0%, #7efc00 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff0105), color-stop(100%,#7efc00));
	background: -webkit-linear-gradient(-45deg,  #ff0105 0%,#7efc00 100%);
	background: -o-linear-gradient(-45deg,  #ff0105 0%,#7efc00 100%);
	background: -ms-linear-gradient(-45deg,  #ff0105 0%,#7efc00 100%);
	background: linear-gradient(135deg,  #ff0105 0%,#7efc00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0105', endColorstr='#7efc00',GradientType=1 );
}
.bg-transparent-gradient-7 {
	opacity: 0.7 !important;
	background: #00ff2e;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDBmZjJlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNGJmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #00ff2e 0%, #004bfc 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#00ff2e), color-stop(100%,#004bfc));
	background: -webkit-linear-gradient(-45deg,  #00ff2e 0%,#004bfc 100%);
	background: -o-linear-gradient(-45deg,  #00ff2e 0%,#004bfc 100%);
	background: -ms-linear-gradient(-45deg,  #00ff2e 0%,#004bfc 100%);
	background: linear-gradient(135deg,  #00ff2e 0%,#004bfc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff2e', endColorstr='#004bfc',GradientType=1 );
}
.bg-transparent-gradient-8 {
	opacity: 0.7 !important;
	background: #db00af;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZGIwMGFmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYTM5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #db00af 0%, #00a390 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#db00af), color-stop(100%,#00a390));
	background: -webkit-linear-gradient(-45deg,  #db00af 0%,#00a390 100%);
	background: -o-linear-gradient(-45deg,  #db00af 0%,#00a390 100%);
	background: -ms-linear-gradient(-45deg,  #db00af 0%,#00a390 100%);
	background: linear-gradient(135deg,  #db00af 0%,#00a390 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db00af', endColorstr='#00a390',GradientType=1 );
}


/* ----------------------------------------------------------------------------------------------------------------- *
 * Section angle classes
 * Use class "angle-left-top", "angle-right-top", "angle-left-bottom", "angle-right-bottom" to change section angle.
/* ----------------------------------------------------------------------------------------------------------------- */

.angle-left-top,
.angle-right-top,
.angle-left-bottom,
.angle-right-bottom {
	position: relative;
	overflow: hidden;
	-ms-overflow-style: none;
}
.angle-left-top,
.angle-right-top {
	padding-top: 180px;
}
.angle-left-bottom,
.angle-right-bottom {
	padding-bottom: 180px;
	border-bottom: none !important;
}
.angle-left-top:before,
.angle-right-top:before,
.angle-left-bottom:after,
.angle-right-bottom:after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 120px;
	background-color: #FFF;
	z-index: 999;
}
.angle-left-top:before,
.angle-left-bottom:after {
	-webkit-transform: skewY(-2deg);
	-moz-transform: skewY(-2deg);
	-ms-transform: skewY(-2deg);
	-o-transform: skewY(-2deg);
	transform: skewY(-2deg);
}
.angle-right-top:before,
.angle-right-bottom:after {
	-webkit-transform: skewY(2deg);
	-moz-transform: skewY(2deg);
	-ms-transform: skewY(2deg);
	-o-transform: skewY(2deg);
	transform: skewY(2deg);
}
.angle-left-top:before,
.angle-right-top:before {
	top: -65px;
}
.angle-left-bottom:after,
.angle-right-bottom:after {
	bottom: -65px;
}
@media only screen and (max-width: 768px) {
	.angle-left-top,
	.angle-right-top {
		padding-top: 140px;
	}
	.angle-left-bottom,
	.angle-right-bottom {
		padding-bottom: 140px;
	}
}
