<div class="col-sm-10 col-lg-10">
	<h1><strong>หน้าย่อย Content</strong></h1>
	<hr>
	<p>
<!-- Example Code -->
หน้า About
<br>
<pre>&lt;div class="jumbotron text-center">
	&lt;h1>About Page&lt;/h1>
	
	&lt;p>{{ message }}&lt;/p>
&lt;/div>
</pre>
<!--  -->
<br>
หน้า Contact
<br>
<!-- Example Code -->
	
<pre>&lt;div class="jumbotron text-center">
	&lt;h1>Contact Page&lt;/h1>
	
	&lt;p>{{ message }}&lt;/p>
&lt;/div>
</pre>

<!--  -->
<br>
หน้า Home
<br>
<!-- Example Code -->
	
<pre>&lt;div class="jumbotron text-center">
	&lt;h1>Home Page&lt;/h1>
	
	&lt;p>{{ message }}&lt;/p>
&lt;/div>
</pre>
		
<!--  -->
<br>
	<h2>อธิบาย</h2>
	<div>
		<p> จาก Code ทั้งหมดนั้น เมื่อวางตาม Structure ก็จะสามารถทำ Single Page ได้แล้ว เย้!</p>
		<p> สามารถ Download ตัวอย่าง ได้ที่ <a href="http://plnkr.co/edit/caAfazATxGFrM7IK29XB?p=preview">Plunker</a> หรือ
		<a href="/projectweb/download/single-page-application.zip" download>
  			<button class="btn btn-success"><p style="margin: 0; font-family: Helvetica;">Download<span class="glyphicon glyphicon-download-alt"></span></p></button>
		</a>
		<br><br><br>
	</div>
	</p>	
</div>