<div class="col-sm-10 col-lg-10">
	<h1><strong>โครงสร้างของ Single Page Application</strong></h1>
	<hr>
	<p>
ไฟล์ที่ใช้สำหรับ จัดการ route</p>
<!-- Example Code -->
	
<pre>// create the module and name it scotchApp
var scotchApp = angular.module('scotchApp', ['ngRoute']);

// configure our routes
scotchApp.config(function($routeProvider) {
	$routeProvider

		// route for the home page
		.when('/', {
			templateUrl : 'pages/home.html',
			controller  : 'mainController'
		})

		// route for the about page
		.when('/about', {
			templateUrl : 'pages/about.html',
			controller  : 'aboutController'
		})

		// route for the contact page
		.when('/contact', {
			templateUrl : 'pages/contact.html',
			controller  : 'contactController'
		});
});

// create the controller and inject Angular's $scope
scotchApp.controller('mainController', function($scope) {
	// create a message to display in our view
	$scope.message = 'Everyone come and see how good I look!';
});

scotchApp.controller('aboutController', function($scope) {
	$scope.message = 'Look! I am an about page.';
});

scotchApp.controller('contactController', function($scope) {
	$scope.message = 'Contact us! JK. This is just a demo.';
});
</pre>
		
<!--  -->
	<h2>อธิบาย</h2>
	<div>
	<pre> var scotchApp = angular.module('scotchApp', ['ngRoute']) </pre> 
	ก่อนอื่น ทำการเพิ่ม Injection ngRoute เข้าไปใน module

	<pre>$routeProvider</pre> 
	จะเป็นตัวแทนสำหรับ ฟังก์ชัน route

	<pre>.when('/', {</pre> เป็นการกำหนดเงื่อนไข Link หลัง url ของเรา ที่ถูกตามด้วย /# ให้ทำการแสดงหน้าย่อยไหน <br>
	<pre>templateUrl : 'pages-single/home.html',</pre> เป็นการกำหนด template หน้าย้อย ว่าจะแสดงอนไหน<br>
	<pre>controller  : 'mainController'}) </pre> เป็นการกำหนด Controller ว่า template นั้น จะใช้ Controller ไหน <br>

	
	<br><br>

	</div>
</div>