<div class="col-sm-10 col-lg-10">
	<h1><strong>โครงสร้างของ Single Page Application</strong></h2>
	<hr>
	<p>
ไฟล์ที่จำป็นตัองมีในการสร้าง Single Page Application
<br>
Structure
<!-- Example Code -->

<pre>WebSinglePage
|---index.html
|---script.js
|---Pages
    |---home.html
    |---abount.html
    |---contract.html
</pre>
<!--  -->
	<h4>อธิบาย</h4>
	<div>
		<p>index.html เป็นไฟล์ที่เก็บหน้าหลักของเราเอาไว้เปรียบเสมอ 'กรอบ' ของทุกหน้า</p>
		<p>script.js เป็นไฟล์ที่เขียน JavaScript เอาไว้ ซึ่งมีหน้าที่เป็นตัว Route ให้กับ หน้า index</p>
		<p>Pages เป็นโฟวเดอร์สำหรับ เก็บหน้าย่อยๆของเรา เพื่อที่จะนำไปแสดงที่ หน้าหลักหรือ 'กรอบ' ของเรา</p>
	</div>
	</p>	
</div>