<div class="col-sm-10 col-lg-10">
	<h1><strong>หน้าหลัก Layout</strong></h1>
	<hr>
	<p>
เป็นหน้าที่เปรียบเสมือน กรอบ ของทุกๆ โดยจะมีแค่ ส่วน Content ที่เปลี่ยนแปลงไป</p>
Code
<!-- Example Code -->
<pre>&lt;!DOCTYPE html>
<!-- define angular app -->
&lt;html ng-app="scotchApp">
&lt;head>
  <!-- SCROLLS -->
  &lt;link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  &lt;link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
  <!-- SPELLS -->
  &lt;script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js">&lt;/script>
  &lt;script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js">&lt;/script>
  &lt;script src="script.js">&lt;/script>
&lt;/head>
<!-- define angular controller -->
&lt;body ng-controller="mainController">

  &lt;nav class="navbar navbar-default">
    &lt;div class="container">
      &lt;div class="navbar-header">
        &lt;a class="navbar-brand" href="/">Angular Routing Example&lt;/a>
      &lt;/div>

      &lt;ul class="nav navbar-nav navbar-right">
        &lt;li>&lt;a href="#">&lt;i class="fa fa-home">&lt;/i> Home&lt;/a>&lt;/li>
        &lt;li>&lt;a href="#about">&lt;i class="fa fa-shield">&lt;/i> About&lt;/a>&lt;/li>
        &lt;li>&lt;a href="#contact">&lt;i class="fa fa-comment">&lt;/i> Contact&lt;/a>&lt;/li>
      &lt;/ul>
    &lt;/div>
  &lt;/nav>
  &lt;div id="main">
    <!-- angular templating -->
		<!-- this is where content will be injected -->
    &lt;div ng-view>&lt;/div>
  &lt;/div>
  &lt;footer class="text-center">
    &lt;p>View the tutorial on &lt;a href="http://scotch.io/tutorials/javascript/single-page-apps-with-angularjs-routing-and-templating">Scotch.io&lt;/a>&lt;/p>
  
    &lt;p>View a tutorial on &lt;a href="http://scotch.io/tutorials/javascript/animating-angularjs-apps-ngview">Animating Your Angular Single Page App&lt;/a>&lt;/p>
  &lt;/footer>
&lt;/body>
&lt;/html>
</pre>
		
<!--  -->
	<h2>อธิบาย</h2>
	<div>
		<p>ส่วน สำคัญ คือ </p>
  		<p><code> &lt;script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js">&lt;/script> </code> เป็นการ โหลด angular มาใช้งาน</p>
  		<p><code> &lt;script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js">&lt;/script> </code> เป็นการ โหลด angular route มาใช้งาน</p>
  		<p><code> &lt;script src="script-single-page.js">&lt;/script> </code> เป็นส่วนเพิ่ม module angular เข้ามาใช้งาน โดยภายในจะมี คำสั่งที่ใช้ควบคุม Route อยู่</p>
  		<p><code> &lt;html ng-app="scotchApp"> </code> เป็นการเรียกใข้ module ของ angular </p>
		<p><code> &lt;div id="view" ng-view >&lt;/div> </code> เป็นส่วนที่ Content หน้าย่อยๆ จะแสดงออกมา </p>
		<br>
	</div>
	</p>	
</div>