<div class="col-sm-10 col-lg-10">
	<h1><strong>ส่วนควบคุม AngularJS</strong></h1>
	<hr>
	<p>
<strong>แอพพลิเคชันของ AngularJS จะควบคุมโดยส่วนควบคุม โดยใช้  ng-controller</strong><br>
ส่วนควบคุมนี้คือ JavaScript Object ซึ่งสร้างจากมาตรฐานของ JavaScript object constructor<br>
ตัวอย่างเช่น <br> 
<!-- Example Code -->
	
<pre>
&lt;div ng-app="myApp" ng-controller="myCtrl">

	First Name: &lt;input type="text" ng-model="firstName">&lt;br>
	Last Name: &lt;input type="text" ng-model="lastName">&lt;br>
	&lt;br>
	Full Name: {{firstName + " " + lastName}}

&lt;/div>

&lt;script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
});
&lt;/script>
</pre><br> <br> 

<!--  -->
<strong>จากตัวอย่าง คำอธิบายของแอพพลิเคเป็นดังต่อไปนี้</strong><br>
- แอพพลิเคชันกำหนดโดย ng-app="myApp" และรันใน &lt;div><br>
- หัวเรื่อง ng-controller="myCtrl" เป็นคำสั่งของ AngularJS ซึ่งบ่งบอกถึงการเป็นส่วนควบคุม<br>
- ฟังก์ชัน myCtrl เป็นฟังก์ชันของ JavaScript <br>
- ตัวแปร $scope จะเป็นตัวแทนของส่วนควบคุม<br>
- ส่วนควบคุมได้สร้างองก์ประกอบสองตัวโดยผ่าน scope คือ firstName และ lastName<br>
- คำสั่ง ng-model จะผูกค่าอินพุตกับส่วนควบคุมที่ถูกสร้างไว้ซึ่งก็คือ  firstName และ lastName<br>
<br>
<strong>กระบวนการของส่วนควบคุม</strong><br>
ส่วนควบคุมสามารถมีกระบวนการได้ดังตัวอย่างนี้<br>
<!-- Example Code -->
	
<pre>
&lt;div ng-app="myApp" ng-controller="personCtrl">

First Name: &lt;input type="text" ng-model="firstName">&lt;br>
Last Name: &lt;input type="text" ng-model="lastName">&lt;br>
&lt;br>
Full Name: {{fullName()}}

&lt;/div>

&lt;script>
var app = angular.module('myApp', []);
app.controller('personCtrl', function($scope) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
    $scope.fullName = function() {
        return $scope.firstName + " " + $scope.lastName;
    };
});
&lt;/script>
</pre>
<!--  -->
	<h3>ผลลัพธ์</h3>
	<div>
	<form class="form-inline">
	First Name: <input style="font-family:helvetica;" class="form-control" type="text" ng-model="firstName"><br>
	Last Name: <input style="font-family:helvetica;" class="form-control" type="text" ng-model="lastName"><br>
	</form>
	<br>
	Full Name: %%fullName() %%
	
	</div>
	<br><br> <br> 

<strong>ส่วนควบคุมจากไฟล์</strong><br>
ทำได้ดังนี้<br>
<!-- Example Code -->
	
<pre>
&lt;div ng-app="myApp" ng-controller="personCtrl">

First Name:&lt;input type="text" ng-model="firstName">&lt;br>
Last Name: &lt;input type="text" ng-model="lastName">&lt;br>
&lt;br>
Full Name: {{fullName()}}

&lt;/div>

&lt;script src="personController.js"></script>
</pre>
		
<!--  -->
	</p>	
</div>