<div class="col-sm-10 col-lg-10">
	<h1><strong>ตัวกรอง AngularJS </strong></h1>
	<hr>
	<p>
<strong>ตัวกรองใน AngularJS  ทำการเปลี่ยนรูปแบบของข้อมูล</strong> เช่น <br>
- currency เปลี่ยนจากชนิดตัวเลขเป็นชนิดเงิน<br>
- date ทำให้เป็นรูปแบบของวันที่<br>
- filter เลือกบางส่วนจาก array<br>
- json เปลี่ยนรูปแบบให้เป็น json string<br>
- limitTo จำกัดค่าในวัตถุ<br>
- lowercase ทำให้เป็นตัวพิมพ์เล็ก<br>
- number เปลี่ยนให้เป็นรูปแบบตัวเลข<br>
- orderBy เรียงค่าใน array<br>
- uppercase ทำให้เป็นตัวพิมพ์ใหญ่<br>
<br>
<strong>การเพิ่มตัวกรองไปยังส่วนแสดงผล<br></strong>
การเพิ่มตัวกรองนั้นไปยังส่วนแสดงผลโดยใช้เครื่องหมาย pipe character ' |' <br>
ตัวอย่างเช่น การใช้ตัวกรอง uppercase เพื่อเปลี่ยนรูปแบบให้เป็นตัวอักษรพิมพ์ใหญ่<br>
</P>
<!-- Example Code -->
	
<pre>
&lt;div ng-app="myApp" ng-controller="personCtrl">

&lt;p>The name is {{ lastName | uppercase }}&lt;/p>

&lt;/div>
</pre>
<!--  -->
	<h3>ผลลัพธ์</h3>
	<div>
		<p>The name is %% lastName | uppercase %%</p>
	</div>
หรือ เปลี่ยนรูปแบบให้เป็นตัวอักษรพิมพ์เล็ก<br>
<!-- Example Code -->
	
<pre>
&lt;div ng-app="myApp" ng-controller="personCtrl">

&lt;p>The name is {{ lastName | lowercase }}&lt;/p>

&lt;/div>
</pre>

<!--  -->
	<h3>ผลลัพธ์</h3>
	<div>
		<p>The name is %% lastName | lowercase %%</p>
	</div>
	<br>

<strong>การเพิ่มตัวกรองไปยังคำสั่ง</strong><br>
การเพิ่มตัวกรองนั้นไปยังคำสั่งโดยใช้เครื่องหมาย pipe character '|'  เช่นเดียวกัน<br>
ตัวอย่างเช่น การเพิ่มตัวกรอง orderBy ไปยังคำสั่ง ng-repeat <br>
<!-- Example Code -->
<pre>
&lt;div ng-app="myApp" ng-controller="namesCtrl">

&lt;ul>
&lt;li ng-repeat="x in names | orderBy:'country'">
    {{ x.name + ', ' + x.country }}
&lt;/li>
&lt;/ul>

&lt;/div> 
</pre>
<!--  -->
	<h3>ผลลัพธ์</h3>
	<div>
		<ul>
  			<li ng-repeat="x in names | orderBy:'country'">
  			  %% x.name + ', ' + x.country %%
  			</li>
		</ul>
	</div> 
<strong>ตัวกรองชนิด currency</strong><br>
ตัวกรองชนิด currency จะทำการเปลี่ยนรูปแบบจากตัวเลขให้เป็นชนิดเงินตรา<br>
ตัวอย่างเช่น<br>
<!-- Example Code -->
<pre>
&lt;div ng-app="myApp" ng-controller="costCtrl">

&lt;h1>Price: {{ price | currency }}&lt;/h1>

&lt;/div>
</pre>

<!--  -->
	<h3>ผลลัพธ์</h3>
	<div ng-init="price= 500">
		<h1>Price: %% price | currency %%</h1>
	</div>
ตัวกรองชนิด filter จะทำการเลือกบางส่วนจาก array เท่านั้น และจะ return ค่า array ที่ต้องการ <br>
ตัวอย่างเช่น<br>
<!-- Example Code -->
<pre>
&lt;div ng-app="myApp" ng-controller="namesCtrl">

&lt;ul>
&lt;li ng-repeat="x in names | filter : 'i'">
    {{ x }}
&lt;/li>
&lt;/ul>

&lt;/div>
</pre>

<!--  -->
	<h3>ผลลัพธ์</h3>
	<div>
		<ul>
		  <li ng-repeat="x in names2 | filter : 'i'">
		    %% x %%
		  </li>
		</ul>
	</div>
<strong>คัดกรอง array จากข้อมูลอินพุตของผู้ใช้ดังนี้</strong><br>
ตัวอย่างข้อมูล<br>
Jan<br>
Carrey<br>
Marga<br>
Hegey<br>
Jo<br>
Gust<br>
Beet<br>
Marena<br>
Karan<br>
<!-- Example Code -->
<pre>
&lt;div ng-app="myApp" ng-controller="namesCtrl">

&lt;p>&lt;input type="text" ng-model="test">&lt;/p>

&lt;ul>
&lt;li ng-repeat="x in names | filter : test">
    {{ x }}
&lt;/li>
&lt;/ul>

&lt;/div>
</pre>

<!--  -->
	<h3>ผลลัพธ์</h3>
	<div>
		<p><input type="text" ng-model="test"></p>
		<ul>
		  <li ng-repeat="x in names2 | filter : test">
		    %% x %%
		  </li>
		</ul>
	</div>
<strong>ตัวกรองที่กำหนดเอง</strong><br>
เราสามารถกำหนดตัวกรองเองได้โดยการบันทึกตัวกรองของเราไปในฟังก์ชัน<br>
ตัวอย่างเช่น ต้องการสร้างตัวกรองที่ชื่อว่า "myFormat" <br>ซึ่งเอาไว้เปลี่ยนรูปแปปของชื่อผู้ใช้ให้เป็นตัวอักษรพิมพ์ใหญ่ตัวเว้นตัว<br>
<!-- Example Code -->
<pre>
&lt;ul ng-app="myApp" ng-controller="namesCtrl">
    &lt;li ng-repeat="x in names">
        {{x | myFormat}}
    &lt;/li>
&lt;/ul>

&lt;script>
var app = angular.module('myApp', []);
app.filter('myFormat', function() {
    return function(x) {
        var i, c, txt = "";
        for (i = 0; i < x.length; i++) {
            c = x[i];
            if (i % 2 == 0) {
                c = c.toUpperCase();
            }
            txt += c;
        }
        return txt;
    };
});
app.controller('namesCtrl', function($scope) {
    $scope.names = ['Jani', 'Carl', 'Margareth', 'Hege', 'Joe', 'Gustav', 'Birgit', 'Mary', 'Kai'];
});
&lt;/script>
</pre>	
<!--  -->
	<h3>ผลลัพธ์</h3>
	<div>
		<ul>
    		<li ng-repeat="x in names2">
    		    %%x | myFormat%%
    		</li>
		</ul>
	</div>
	</p>	
</div>