<div class="col-sm-10 col-lg-10">
	<h1><strong>AngularJS AJAX - $http</strong></h2>
	<hr>
	<p>
$http เป็นบริการของ AngularJS ที่ใช้ในการอ่านข้อมูลจาก servers<br>
โดยจะทำการร้องขอไปยัง server จากนั้น server จะส่งการตอบสนองกลับมา<br>
<!-- Example Code -->
<pre>
&lt;div ng-app="myApp" ng-controller="myCtrl"> 

&lt;p>Today's welcome message is:&lt;/p>
&lt;h1>{{myWelcome}}&lt;/h1>

&lt;/div>

&lt;script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
    $http.get("welcome.html")
    .then(function(response) {
        $scope.myWelcome = response.data;
    });
});
&lt;/script>
</pre>
<!--  -->
	<h3>ผลลัพธ์</h3>
	<div>
		<h1>%%myWelcome%%</h1>
	</div>
	<br>

กระบวนการของ $http นอกจาก .get() ได้แก่<br>
.delete()<br>
.head()<br>
.jsonp()<br>
.patch()<br>
.post()<br>
.put()<br>
<!-- Example Code -->
<pre>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
    $http({
        method : "GET",
        url : "welcome.html"
    }).then(function mySucces(response) {
        $scope.myWelcome = response.data;
    }, function myError(response) {
        $scope.myWelcome = response.statusText;
    });
});
</pre>
<!--  -->
	<br>
	<h3>ผลลัพธ์</h3>
	<div ng-controller="httpController">
		<label>
    		<input type="radio" ng-model="url.name" ng-change="trig()" value="welcome.html" />
    		httpweb/welcome.html
  		</label>
  		<label>
    		<input type="radio" ng-model="url.name" ng-change="trig()" value="httpweb/welcome.html" />
    		welcome.html
  		</label>
		<h1>%%myWelcome2%%</h1>
	</div>
	<br>
	จากตัวอย่างนี้จะทำการประมวลผลด้วยตัวแปร ซึ่งประกอบด้วย url, สิ่งที่จะทำถ้าหากสำเร็จ และสิ่งที่จะทำถ้าหากผิดพลาด<br>
	<br>
	<h2>คุณสมบัติ</h2>
ผลตอบสนองจากเซิร์ฟเวอร์สามารถกำหนดคุณสมบัติได้ดังนี้<br>
.config วัตถุที่ใช้ในการสร้างคำร้องขอ<br>
.data เป็นคำ หรือเป็นวัตถุจากเซิร์ฟเวอร์<br>
.headers ฟังก์ชันที่ใช้ขอหัวข้อของข้อมูล<br>
.status ตัวเลขที่กำหนดสถานะของ HTTP<br>
.statusText คำที่กำหนดสถานะของ HTTP<br>
	
<!-- Example Code -->
<pre>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
    $http({
		method : 'GET',
		url : 'welcome.html',
		headers: {
			'Content-Type': 'application/json',
			'Accept': 'application/json'
		}
	})
    .then(function(response) {
        $scope.content = response.data;
        $scope.statuscode = response.status;
        $scope.statustext = response.statustext; 
    });
});
</pre>
<!--  -->
	<h3>ผลลัพธ์</h3>
	<div ng-controller="httpController">
		<h1>%%content%%</h1>
		<h1>%%statuscode%%</h1>
		<h1>%%statustext%%</h1>
	</div>
	<br>
	<h4>JSON</h4>
ข้อมูลที่ได้รับจากเซิร์ฟเวอร์จะอยู่ในรูปแบบไฟล์ JSON  ซึ่งเป็นวิธีที่สะดวกและง่ายทั้งใน AngularJS หรือภาษาอื่นๆ<br>  
ตัวอย่างเช่น ให้เซิร์ฟเวอร์ส่งค่าของดาวดาวสมมุติต่างๆ มา 10 ดวง ซึ่งใช้ ng-repeat ดังนี้<br>
<!-- Example Code -->
<pre>
&lt;div ng-app="myApp" ng-controller="customersCtrl"> 

&lt;ul>
  &lt;li ng-repeat="x in myData">
    {{ x.Name + ', ' + x.Country }}
  &lt;/li>
&lt;/ul>

&lt;/div>

&lt;script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $http.get("httpweb/planet.json").then(function(response) {
        $scope.myData = response.data.records;
    });
});
&lt;/script>
</pre>
<!--  -->	
แอพพลิเคชันกำหนดตัวควบคุม customersCtrl ด้วยค่า  $scope และ $http และตัวควบคุมนี้จะสร้างตัวแปรผ่าน $scope ด้วยข้อมูล JSON จากเซิร์ฟเวอร์<br>
	<h4>ผลลัพธ์</h4>
	<div>
		<ul>
    		<li ng-repeat="x in myData">
    		    %%"Planet : "+x.name + " Type : " + x.type %%
    		</li>
		</ul>
	</div>
	</p>	
</div>