<div class="col-sm-12 col-lg-11">
	<h1><strong>เริ่มต้นเขียน Angular</strong></h1>
	<hr>
	<h2><strong>เตรียม Library สำหรับเขียน Angular ให้พร้อม</strong></h2>
	
		<P style="text-indent: 1em;">AngularJS เป็น Javascript Framework เป็น Library  
		ที่เขียนโดย Java Script โดยทำการเรียกใช้โดยการใส่ใน Script Tag ดังนี้ 
		</p>
		<pre> &lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" &gt;&lt;/script&gt; </pre>
		<br>
		<P style="text-indent: 1em;"> การเช็คการติดตั้งว่า Angular JS ได้ถูกติดตั้งหรือยัง 
					ให้ทำการทดสอบโดยการ พิมพ์การ คำนวนเล็กๆ น้อยๆ ในวงเล็บ ปีกกา {{4+5}} 
					หาก Angular มีการติดตั้งลงใน สคริปไฟลล์แล้วนั้น สิ่งที่แสดงในวงเล็ก จะแสดงผลการคำนวน บนหน้า เว็บ ดังรูป 
		</p>
	
<!-- Example Code -->
		<pre>
&lt;!DOCTYPE html>
&lt;html lang="en" ng-app>
	&lt;head>
		&lt;meta charset="utf-8">
		&lt;title>AngularJS&lt;/title>
		&lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	&lt;/head>
	&lt;body>
		&lt;div class="container">
			&lt;h2>AngularJS&lt;/h2>
			&lt;p>{{ 4*5 }}&lt;/p>
		&lt;/div>
		&lt;script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js">&lt;/script>
	&lt;/body>
&lt;/html></pre>
<!--  -->
	
	<h3>ผลลัพธ์</h3>
	AngularJS
	<p>%% 4*5 %%</p>
	</p>
	<br>
	
</div>