<div class="col-sm-10 col-lg-10">
	<h1><strong>การเพิ่ม AngularJS ใน HTML</strong></h1>
	<hr>
	<p>
		
<strong>AngularJS จะเพิ่มใน HTML โดยใช้ ng-directives</strong> <br>
คำสั่งชนิด ng-app บ่งบอกเกี่ยวกับแอพลิเคชันของ AngularJS<br>
คำสั่งชนิด ng-model จะควบคุมค่าใน HTML เช่น อินพุต การเลือก พื้นที่ตัวหนังสือ เป็นต้น <br>
คำสั่งชนิด ng-bind จะเกี่ยวกับส่วนแสดงผลของข้อมูล<br>
<!-- Example Code -->
<pre>
&lt;!DOCTYPE html>
&lt;html>
	&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">&lt;/script>
	&lt;body>
		&lt;div ng-app="">
		  &lt;p>Name: &lt;input type="text" ng-model="name">&lt;/p>
		  &lt;p ng-bind="name">&lt;/p>
		&lt;/div>
	<&lt;/body>
&lt;/html>
</pre>

<!--  -->

	<h3>ผลลัพธ์</h3>
	<form class="form-inline">
		<div class="form-group">
		<span>Name: <input style="font-family:helvetica;" class="form-control" type="text" ng-model="nametest"></span>
		&nbsp;&nbsp;&nbsp;
		<span ng-bind="nametest"></span>
		</div>
	</form>
	<br>

	<strong>คำสั่งของ AngularJS </strong> <br>
อย่างที่เห็นข้างบน คำสั่งของ AngularJS เป็นหัวเรื่องของ HTML ด้วยคำว่า ng <br>
คำสั่ง ng-init จะทำการเรื่มต้นด้วยค่าของแอพพลิเคชัน AngularJS <br><br>
<!-- Example Code -->
<pre>
&lt;!DOCTYPE html>
&lt;html>
	&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">&lt;/script>
	&lt;body>
		&lt;div ng-app="" ng-init="firstName='John'">
			&lt;p>The name is &lt;span ng-bind="firstName">&lt;/span>&lt;/p>
		&lt;/div>
&lt;/body>
&lt;/html>
&lt;/xmp>
		</pre>
<!--  -->
	<h4>ผลลัพธ์</h4>
	<div ng-app="" ng-init="firstName='John'">
		<p>The name is <span ng-bind="firstName"></span></p>
	</div><br><br>

	<strong>การแสดงผล AngularJS </strong><br>
	การแสดงผล AngularJS เขียนในวงเล็บคู่ : {{ expression }} <br>
<!-- Example Code -->
<pre>
&lt;!DOCTYPE html>
&lt;html>
	&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">&lt;/script>
	&lt;body>
		&lt;div ng-app="">
  			&lt;p>My first expression: {{ 5 + 5 }}&lt;/p>
		&lt;/div>
	&lt;/body>
&lt;/html>
&lt;/xmp>
</pre>		
<!--  -->
	<h4>ผลลัพธ์</h4>
	<div ng-app="">
  		<p>My first expression: %% 5 + 5 %%</p>
	</div><br><br>

	เช่นเดียวกับแสดงค่าตัวแปร <br>
<!-- Example Code -->
	
<pre>
&lt;!DOCTYPE html>
&lt;html>
	&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">&lt;/script>
&lt;body>
		&lt;div ng-app="">
  			&lt;p>Name: &lt;input type="text" ng-model="name">&lt;/p>
  			&lt;p>{{name}}&lt;/p>
		&lt;/div>
	&lt;/body>
&lt;/html>
</pre>
<!--  -->
	<h3>ผลลัพธ์</h3>
	<form class="form-inline">
		<div class="form-group">
		<span>Name: <input style="font-family:helvetica;" class="form-control" type="text" ng-model="nametest"></span>
		&nbsp;&nbsp;&nbsp;
		<span ng-bind="nametest"></span>
		</div>
	</form>

	<strong>แอพพลิเคชันของ AngularJS</strong> <br>
	module จะกำหนดแอพพลิเคชันของ AngularJS ด้วยคำสั่ง ng-app <br>
	<br>
	var app = angular.module('myApp', []); <br>
	<br>
	controller จะควบคุมแอพพลิเคชันของ AngularJS ด้วยคำสั่ง ng-controller <br>
	<br>
	app.controller('myCtrl', function($scope) {<br>
	&nbsp;&nbsp;&nbsp;$scope.firstName= "John";<br>
	&nbsp;&nbsp;&nbsp;$scope.lastName= "Doe";<br>
	});<br><br><br>
<!-- Example Code -->
	
<pre>
&lt;!DOCTYPE html>
&lt;html>
	&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">&lt;/script>
	&lt;body>
		&lt;div ng-app="myApp" ng-controller="myCtrl">
			First Name: &lt;input type="text" ng-model="firstName">&lt;br>
			Last Name: &lt;input type="text" ng-model="lastName">&lt;br>
			&lt;br>
			Full Name: {{firstName + " " + lastName}}
		&lt;/div>

	&lt;script>
			var app = angular.module('myApp', []);
			app.controller('myCtrl', function($scope) {
			    $scope.firstName= "John";
			    $scope.lastName= "Doe";
			});
		&lt;/script>
	&lt;/body>
&lt;/html>
</xmp>
	</pre>	
<!--  -->
	<h3>ผลลัพธ์</h3>
	<form class="form-inline">
	<div ng-controller="intro2Controller">
		
		First Name: <input style="font-family:helvetica;" class="form-control" type="text" ng-model="name.firstName"><br>
		Last Name: <input style="font-family:helvetica;" class="form-control" type="text" ng-model="name.lastName"><br>
		<br>
		Full Name: %%name.firstName + " " + name.lastName%%
	</div>
	</p><br><br>	
</div>