<div class="col-sm-10 col-lg-10">
	<h1><strong>คำสั่ง ng-model ใน AngularJS </strong></h1>
	<hr>
	<p>

<strong>คำสั่ง ng-model</strong><br>
เราสามารถทำให้รับค่าอินพุตไปเก็บในตัวแปรที่เราสร้างใน AngularJS ได้ โดย ng-model<br>
<!-- Example Code -->
	
<pre>
&lt;!DOCTYPE html>
&lt;html>
	&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">&lt;/script>
	&lt;body>
		&lt;div ng-app="myApp" ng-controller="myCtrl">
		    Name:&lt;input ng-model="name">
		&lt;/div>
		
		&lt;script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope) {
		    $scope.name = "John Doe";
		});
		&lt;/script>
	&lt;/body>
&lt;/html>
</pre>
		
<!--  -->

	<h3>ผลลัพธ์</h3>
	<form class="form-inline">
	<p>Name: <input class="form-control" style="font-family:helvetica;" type="text" ng-model="nametest"></p><br><br>
	</form>

หรือถ้าหากต้องการให้ค่าเปลี่ยนเมื่ออินพุตเปลี่ยน ดังนี้<br>
<!-- Example Code -->
	
<pre>
&lt;!DOCTYPE html>
&lt;html>
	&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">&lt;/script>
	&lt;body>
		&lt;div>
    		Name: &lt;input ng-app ng-model="name">
    		&lt;h1>You entered: {{name}}&lt;/h1>
		&lt;/div>

		&lt;script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope) {
		    $scope.name = "John Doe";
		});
		&lt;/script>
	&lt;/body>
&lt;/html>
</pre>
		
<!--  -->
	<h3>ผลลัพธ์</h3>
	<form class="form-inline">
	<div>
    	<p>Name: <input class="form-control" style="font-family:helvetica;" ng-model="nametest">
    	<h1>You entered: %%nametest%%</h1>
	</div>
	</form>
	<br><br>

<strong>การตรวจสอบอินพุต</strong><br>
คำสั่งของ ng-model สามารถทำการตรวจสอบและกำหนดชนิดของอินพุตได้<br>
<!-- Example Code -->
	
<pre>
&lt;form ng-app="" name="myForm">
    Email:
    &lt;input type="email" name="myAddress" ng-model="text">
    &lt;span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address&lt;/span>
&lt;/form>
&lt;/xmp>
	</pre>	
<!--  -->
	<h3>ผลลัพธ์</h3>
	<form name="myForm1" class="form-inline">
    	Email:<input class="form-control" style="font-family:helvetica;" type="email" name="myAddress1" ng-model="text">
    	<br>
    	<span ng-show="myForm1.myAddress1.$error.email">Not a valid e-mail address</span>
	</form><br><br>
<br>
<strong>สถานะของแอพพลิเคชัน</strong><br>
คำสั่งของ ng-model สามารถจัดการสถานนะให้กับข้อมูลของแอพพลิเคชันได้ ดังนี้<br>
<!-- Example Code -->
	<pre>
&lt;xmp>
&lt;form ng-app="" name="myForm" ng-init="myText = 'post@myweb.com'">
    Email:
   &lt;input type="email" name="myAddress" ng-model="myText" required>
    &lt;h1>Status&lt;/h1>
    {{myForm.myAddress.$valid}}
    {{myForm.myAddress.$dirty}}
    {{myForm.myAddress.$touched}}
&lt;/form>
</pre>
		
<!--  -->
	<h3>ผลลัพธ์</h3>
	<form class="form-inline" ng-app="" name="myForm2" ng-init="myText1 = 'post@myweb.com'">
    	Email:
    	<input style="font-family:helvetica;" class="form-control" type="email" name="myAddress2" ng-model="myText1" required>
    	<h1>Status</h1>
    	%%"Valid : " +myForm2.myAddress2.$valid%%<br>
    	%%"Dirty : " +myForm2.myAddress2.$dirty%%<br>
    	%%myForm2.myAddress2.$touched%%<br>
	</form><br><br>

<strong>คลาสของ CSS</strong><br>
คำสั่งของ ng-model สามารถจัดการคลาสของ CSS ให้กับองค์ประกอบของ HTML ได้ดังนี้<br>
<!-- Example Code -->
	
<pre>
&lt;style>
input.ng-invalid {
    background-color: lightblue;
}
&lt;/style>
&lt;body>

&lt;form ng-app="" name="myForm">
    Enter your name:
    &lt;input name="myName" ng-model="myText" required>
&lt;/form>
</pre>
		
<!--  -->
	<h3>ผลลัพธ์</h3>
	<style>
	input.ng-invalid {
	    background-color: lightblue;
	}
	</style>
	<body>
	
	<form name="myForm3" class="form-inline">
	    Enter your name:
	    <input style="font-family:helvetica;" class="form-control" name="myName3" ng-model="myText2" required>
	</form><br><br>
<strong>คำสั่งของ ng-model ที่ตรวจสอบสถานะได้แก่</strong><br>
ng-empty<br>
ng-not-empty<br>
ng-touched<br>
ng-untouched<br>
ng-valid<br>
ng-invalid<br>
ng-dirty<br>
ng-pending<br>
ng-pristine<br>
	</p>	
</div>