<div class="col-sm-10 col-lg-10">
	<h1><strong>AngularJS Modules</strong></h1>
	<hr>

โมดูลเป็นตัวกำหนดแอพพลิเคชัน ซึ่งจะเก็บส่วนต่างๆของแอพพลิเคชันรวมถึงตัวควบคุมด้วย<br>
<br>
<strong>การสร้างโมดูล</strong><br>
การสร้างโมดูลทำโดยใช้ฟังก์ชัน angular.module
<!-- Example Code -->
<pre>&lt;div ng-app="myApp">...&lt;/div>
&lt;script>var app = angular.module("myApp", []);&lt;/script>
</pre>
<!--  -->
<br>
<strong>การเพิ่มตัวควบคุม</strong> <br>
การเพิ่มส่วนของการควบคุมในแอพพลิเคชัน โดยใช้คำสั่ง ng-controller
<!-- Example Code -->
<pre>&lt;div ng-app="myApp" ng-controller="myCtrl">
	{{ firstName + " " + lastName }}
&lt;/div>
&lt;script>
	var app = angular.module("myApp", []);
	app.controller("myCtrl", function($scope) {
	$scope.firstName = "John";
	$scope.lastName = "Doe";
});</pre><br>
<!--  -->

<strong>การเพิ่มคำสั่ง</strong><br>
ปกติแล้ว AngularJS ก็มีคำสั่งให้ใช้อยู่แล้ว <br>แต่เราสามารถเพิ่มคำสั่งของเราไปได้โดย
<!-- Example Code -->
<pre>&lt;div ng-app="myApp" test-directive>&lt;/div>
&lt;script> 
	var app = angular.module("myApp", []);

	app.directive("TestDirective", function() {
		return {
		template : "I was made in a directive constructor!"
		};
	});
&lt;/script>
</pre><br>

<!--  -->
<strong>โมดูลและส่วนควบคุมในไฟล์</strong><br>
AngularJS สามารถเขียนโมดูลและส่วนควบคุมลงไฟล์ได้<br>
จากตัวอย่างข้างล่าง "myApp.js" จะเก็บส่วนของโมดูลไว้ และ "myCtrl.js" จะเก็บส่วนควบคุม<br>
<!-- Example Code -->
<pre>&lt;!DOCTYPE html>
&lt;html>
&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">&lt;/script>
&lt;body>
	&lt;div ng-app="myApp" ng-controller="myCtrl">
		{{ firstName + " " + lastName }}
	&lt;/div>

	&lt;script src="myApp.js">&lt;/script>
	&lt;script src="myCtrl.js">&lt;/script>

&lt;/body>
&lt;/html></pre>
<!--  -->
โดยที่ใน myApp.js คือ<br>
<pre>var app = angular.module("myApp", []);</pre>
ใน myCtrl.js คือ<br>
<pre>app.controller("myCtrl", function($scope) {
$scope.firstName = "John";
$scope.lastName= "Doe";
});</pre>
ซึ่งเหมือนกับในกรณีนี้<br>
<!-- Example Code -->
<pre>&lt;!DOCTYPE html>
&lt;html>
	&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">&lt;/script>
	&lt;body>
		&lt;div ng-app="myApp" ng-controller="myCtrl">
			First Name: &lt;input type="text" ng-model="firstName">&lt;br>
			Last Name: &lt;input type="text" ng-model="lastName">&lt;br>
			&lt;br>
			Full Name: {{firstName + " " + lastName}}
		&lt;/div>

		&lt;script>
			var app = angular.module('myApp', []);
			app.controller('myCtrl', function($scope) {
			    $scope.firstName= "John";
			    $scope.lastName= "Doe";
			});
		&lt;/script>
	&lt;/body>
&lt;/html>
</pre>
<!--  -->

</div>