<div class="col-sm-10 col-lg-10">
	<h1><strong>Experience By หัสนัย</strong></h1>
	<hr>
	<h2 style="font-style: unde">เริ่มต้นทำความรู้จักกันและกัน</h2>
	<p>
		รู้จักกับ AngularJS ครั้งแรกนั้นจากการฝึกงาน ซึ่งทำให้ผมได้รู้ว่าการเขียนเว็บนั้นมันมีอะไรมากกว่า &lt;body&gt;&lt;/body&gt; จึงได้เริ่มเรียนรู้ AngularJS ตั้งแต่นั้นมา
	</p>
	<h2 style="font-style: unde">เรียนรู้กันและกัน</h2>
	<p>
		จากคนที่ไม่เคยเขียนภาษาเว็บมาก่อน มาเจอ AngularJS ก็ต้องงงกันเป็นธรรมดา แต่ด้วยสังคมการเรียนรู้สมัยนี้ค่อนข้างกว้าง  จึงหาบทเรียนตามอินเทอร์เน็ตมาลองทำ โดยถ้าเป็นพื้นฐานของ AngularJS เองนั้นก็ไม่ได้ยากมากมายถึงขั้นคนธรรมดาๆจะทำไม่ได้
		แต่ก็มีติดขัดในเรื่องที่ยากมากยิ่งขึ้น เพราะจำเป็นต้องใช้ความรู้ด้านภาษาอังกฤษในการอ่านเอกสาร เพื่อหาความหมายและการใช้งาน
	</P>
	<h2 style="font-style: unde">เดินทางไปด้วยกันและกัน</h2>
	<p>
		พอเริ่มมีพื้นฐาน พี่ที่ฝึกงานก็เริ่มให้งานเพื่อทดลองว่า เราสามารถทำตามสิ่งที่ได้รับมอบหมายได้ไหม ได้ดีแค่ไหน และก็ได้มารู้จัก Ionic Framework ที่ใช้ AngularJS ร่วมทำงาน เป็นเครื่องมือเขียนเว็บแอพพลิเคชันที่ดีตัวนึงเลย ติดตั้งง่าย ขนาดเล็ก ทำงานเร็ว ใช้งานง่าย และมีเว็บที่อธิบายส่วนต่างๆของ Ionic Framework ให้
		และนี่ก็เป็นส่วนหนึ่งที่ทำให้ได้ร่วมทำงานหลักร่วมกับทางบริษัทที่ฝึกงาน
	</P>
	<div>
		<img class="img-responsive" src="http://moduscreate.com/wp-content/uploads/2014/01/ionic-angular-opti.png"/>
	</div>
	<h2 style="font-style: unde">ปรับความเข้าใจกันและกัน</h2>
	<p>
		ด้วยความไม่ถนัดที่มีกันมาตั้งแต่ต้น ถึงแม้จะยังไม่ได้เข้าไปส่วนลึกของ AngularJS แต่ก็รู้สึกสนุกที่ใช้เป็น ถึงแม้จะมีเรื่องจู้จี้จุกจิกมากๆ มากๆ มากๆ อย่าง controller scope ไอ้ตัวแปรนี่ก็ใช้ระหว่างกันยากเหลือเกิน แต่ก็ช่างมันเถอะครับ ถ้าตั้งใจอยู่กับมันหน่อยเดี๋ยวมัน็ให้คำตอบกลับมาเอง 
	</p>
	<h2 style="font-style: unde">ลากันและกัน</h2>
	<p>
		หลังจากฝึกงานก็ไม่ได้มีโอกาสใช้งาน AngularJS เลย แต่ผมรับประกันได้เลยถ้ามีการให้ทำเว็บแอพพลิเคชั่น ผมมองไปที่ Ionic Framework หรือแม้แต่การเขียนเว็บธรรมดา ก็จะใช้ AngularJS มาทำ เพราะ AngularJS ทำให้รู้สึกว่า "ก็ใช้เป็นอยู่อันเดียวนี่หว่า"
	</p>
	<br>
	<img class="img-responsive" src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t31.0-8/13767320_10153735928785233_1050503230233053146_o.jpg?oh=bb7ffbc9176360363a3383df7b497c00&oe=58B009AF"/>
	<center>
	<p>ขอขอบคุณบริษัท คิริมารุ จำกัด (Big Data Agency)  ที่ให้โอกาสในการเข้าฝึกงาน</p>
	</center>
</div>

<style type="text/css">
	p { text-indent: 1.5em; }
</style>