<div class="col-sm-10 col-lg-10">
	<h1><strong>Experience By คณยศ</strong></h1>
	<hr>
	<h2>แรกพบ</h2>
	<p>
		ครั้งแรกที่ได้รู้จักกับ Angular คือตอนฝึกงาน ก่อนหน้านั้นก็เคยเขียนเว็บมาบ้าง แต่ส่วนใหญ่จะใช้ PHP+HTML พวกพวก JavaScript ไม่ค่อย ได้จับเท่าไหร่ แต่ก็พอจะรู้ว่ายุ่งยากในการใช้งานมาก เพราะต้องอ้างอิง tag หรือ id ของ element ใน HTML จนกระทั้งพี่ที่ฝึกงานให้ลองช่วยเขียนเว็บที่เขียนด้วย Angular ความรู้สึกแรกที่ได้จับ Angular คือ มันดีมาก ดีมากๆ เพราะ มันมีชุดคำสั่งที่เราเพียงเรียกใช้ ก็แทบจะเท่ากับ การเขียน JavaScript เกือบๆ 100 บรรดทัด และได้ศึกษาเพิ่มมาเรื่อยๆ ก็ยิ่งชอบ ชอบในการที่มันเป็น Data Binding ที่ทำให้เราสามารถ เขียนเว็บที่ตอบโต้กับเราได้มากขึ้น ไม่ต้องมาการส่งค่าผ่าน Form อีกต่อไป แต่ใช้ Event ในการเลือกฟังก์ชันที่จะรันผล
	</p>
	<br>
	<h2>ข้อดีที่ผมคิด</h2>
	<p>
		มี library ที่ที่ใช้แล้วมีประสิทธิภาพอย่างมาก แม้จะใช้งานยากไปนิด แต่ตัวมันเอง ก็พร้อมใช้ พอๆกับ JavaScript แต่สามารถตอบสนองกับผู้ใช้ได้แบบต่อเนื่องมากกว่าและยังมี Directive ที่สร้างเอง ที่สามรถมีฟังชั่นที่ทำงานได้มากกว่า css หรือ JavaScript เพียงอย่างเดียว
	</p>
	<br>
	<h2>สิ่งที่ไม่ชอบ</h2>
	<p>
		ระหว่างที่กำลังศึกษา และทดลองทำเว็บไปเรื่อยๆ สิ่งที่ไม่ชอบของ Angular คือ บัค ที่ไม่มีที่มาที่ไป ยกตัวอย่างเช่น
	</p>
	<pre>var man = angular.module('perMan', ['jsTree.directive', 'ngDialog'])

.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('//').endSymbol('//');
})

.controller('perManage', ['$scope', '$http', 'ngDialog', function(s,h,d){
	s.isCreate = false;
	var data ={'url':'/role/index.php?a=role'};
	h({
		method : 'POST',
		url : '../ajax/get',
		headers: {
			'Content-Type': 'application/json',
			'Accept': 'application/json'
		},
		data: data,
	})
	.success(function(res)
	{
		console.log("success");
		//console.log(res);
		var datain = angular.fromJson(res);
		var tmpdata = datain.result.data;
		//console.log(tmpdata);
		for(var i=0;i&lt;tmpdata.length;i++)
		{
			if(tmpdata[i].parent == "0")
			{
				tmpdata[i].parent = "#";
			}		
		}
		s.treeBaba = tmpdata;
	})
	.error(function(error)
	{
		console.log("error");
		console.log(error);
	})

    s.renameNode = function(node, obj) {
      	console.log('rename event call back');
      	//console.log(node);
      	//console.log(obj);
      	console.log(s.isCreate);
      	if(s.isCreate)
      	{
      		var data =[{'text': obj.node.text , "parent": obj.node.parent},{'url':'/role/index.php?a=role'}];
	    	//console.log(JSON.stringify(data,null,4));
			h({
				method : 'POST',
				url : '../ajax/post',
				headers: {
					'Content-Type': 'application/json',
					'Accept': 'application/json'
				},
				data: data,
			})
			.success(function(res)
			{
				console.log("success");
				//console.log(res);
				var datain = angular.fromJson(res);
				if(datain.status == "201")
				{
					alert("Add Success");
					location.reload();
				}
			})
			.error(function(error)
			{
				console.log("error");
				console.log(error);
			});
      	}
      	else
      	{
      		var tmpParrent = obj.node.parent == "#" ? "0" : obj.node.parent;
      		//console.log(tmpParrent);
      		var data =[{'id': obj.node.id , "parent": tmpParrent,"text" : obj.node.text},{'url':'/role/index.php?a=role'}];
	    	//console.log(JSON.stringify(data,null,4));
			h({
				method : 'POST',
				url : '../ajax/put',
				headers: {
					'Content-Type': 'application/json',
					'Accept': 'application/json'
				},
				data: data,
			})
			.success(function(res)
			{
				console.log("success");
				//console.log(res);
				var datain = angular.fromJson(res);
				if(datain.status == "200")
				{
					alert("Update Success");
				}
			})
			.error(function(error)
			{
				console.log("error");
				console.log(error);
			});
      	}
      	//s.selectedArray = selected.selected;
      	//console.log(s.treecxzcxz);
    }
	</pre>
	<br>
	<p>
		จะสังเกตุว่า ตัว code มีฟังก์ชั่นซ้อนๆกันมากๆ บางครั้ง Scope ก็จะไม่ ลิ้งกับหน้า Page เหมือนกับไม่ได้กำหนด Spoce ตัวนั้นขึ้นมา ซึ่งผมใช้เวลาหาวิธีแก้ตัวนี้นานมาก และสุดท้าย ก็เจอ มีคนแนะนำว่า ตัวแปร Scope นั้น ควร สร้างเป็น Opject เสมือ แม้ว่ามันจะเป็นเพียงตัวแปลเดี่ยว สมมุติว่าจะสร้าง ตัวแปลที่ใช้สำหรับเก็บชื่อ ควรสร้างแบบ $scope.name = {name : ""} เพื่อกันบัคที่เราหาไม่เจออกไป
	</p>
	<br>
	<h2>สิ่งที่อยากฝาก</h2>
	<p>
		สำหรับคนที่กำลังจะลองฝึกเขียนเว็บ อยากให้ลองพิจารณา Angular ไว้อีกหนึงตัว เนื่องจาก สมัยนี้เว็บต่างๆถูกใช้บนโทรศัพท์เป็นจำนวนมาก ซึ่ง Angular เองก็มีความสามารถ ที่จะทำหน้าเว็บที่ประหยัด Bandwidth ที่ใช้งานอินเตอร์ได้ด้วย อีกทักยังตอบสนองกับผู้ใช้ได้ง่ายกว่าด้วย หวังว่าทุกๆจะหันมาลองใช้ Angular กันดูนะครับ 
	</p>
	<br><br>
</div>

<style type="text/css">
	p { text-indent: 1.5em; }
</style>